Repository HaMeD1379/Studly, changes with the owners that CODEOWNERS names for each.
All owners: @studly/frontend, @studly/backend, @studly/core, @studly/docs

CODEOWNERS:

# Map folders to reviewer groups/owners
# Replace @studly/* with real GitHub handles or teams
/apps/frontend/   @studly/frontend
/apps/backend/    @studly/backend
/packages/        @studly/core
/docs/            @studly/docs

works
  apps/frontend/src/App.tsx
  apps/frontend/src/api/badges.spec.ts
  apps/frontend/src/api/badges.ts
  apps/frontend/src/components/BadgeCollection/BadgeCollection.spec.tsx
  apps/frontend/src/components/BadgeCollection/BadgeCollection.tsx
  apps/frontend/src/constants/api.ts
  apps/frontend/src/mocks/api.ts
  apps/frontend/src/mocks/badges.ts
  apps/frontend/src/routes/Badges.tsx
  apps/frontend/src/routes/badges/Badges.spec.tsx
  apps/frontend/src/routes/badges/Badges.tsx
  apps/frontend/src/routes/badges/index.ts
  apps/frontend/src/routes/badges/loader.spec.ts
  apps/frontend/src/routes/badges/loader.ts
  apps/frontend/src/routes/index.ts
  apps/frontend/src/types/badges.ts
  apps/frontend/src/utilities/date/format.spec.ts
  apps/frontend/src/utilities/date/format.ts
Owners: @studly/frontend

biome
  apps/frontend/src/api/badges.spec.ts
  apps/frontend/src/components/BadgeCollection/BadgeCollection.spec.tsx
  apps/frontend/src/mocks/api.ts
  apps/frontend/src/mocks/badges.ts
  apps/frontend/src/routes/badges/Badges.spec.tsx
  apps/frontend/src/routes/badges/Badges.tsx
  apps/frontend/src/routes/badges/loader.spec.ts
  apps/frontend/src/utilities/date/format.spec.ts
  apps/frontend/src/utilities/date/format.ts
Owners: @studly/frontend

Update sessions.controller.js
  apps/backend/src/controllers/sessions.controller.js
Owners: @studly/backend

Use optional chaining for userId and endTime checks
  apps/backend/src/controllers/sessions.controller.js
Owners: @studly/backend

Update sessions.controller.js to add badge checking (#155)
  apps/backend/src/controllers/sessions.controller.js
Owners: @studly/backend

feat(leaderboard): add leaderboard API, backend support, and tests
  .changeset/.gitkeep
  .gitignore
  .husky/.gitkeep
  api-contracts/leaderboard.api.contract.md
  api-contracts/sessions.api.contract.md
  apps/backend/src/controllers/leaderboard.controller.js
  apps/backend/src/index.js
  apps/backend/src/repositories/leaderboard.repository.js
  apps/backend/src/routes/v1/leaderboard.routes.js
  apps/backend/src/services/leaderboard.service.js
  apps/backend/tests/integration/leaderboard.test.js
  apps/backend/tests/unit/leaderboard.service.test.js
  docs/ADR/.gitkeep
  infra/docker/QUICKSTART.md
  infra/docker/README.md
  infra/docker/db/init/01_schema.sql
  infra/docker/docker-compose.prod.yml
  packages/api-contract/.gitkeep
Owners: @studly/backend, @studly/docs, @studly/core

code refactoring and error display sign up page
  apps/frontend/src/api/index.ts
  apps/frontend/src/api/profileChanges.ts
  apps/frontend/src/components/AccountActions/AccountActions.spec.tsx
  apps/frontend/src/components/Avatar/Avatar.spec.tsx
  apps/frontend/src/components/Login/Login.spec.tsx
  apps/frontend/src/components/Login/Login.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.spec.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/components/UserCard/UserCard.spec.tsx
  apps/frontend/src/components/UserCard/UserCard.tsx
  apps/frontend/src/components/index.ts
  apps/frontend/src/routes/login/action.spec.ts
  apps/frontend/src/routes/login/action.ts
  apps/frontend/src/routes/logout/action.spec.ts
  apps/frontend/src/routes/logout/action.ts
  apps/frontend/src/routes/settings/action.spec.ts
  apps/frontend/src/routes/settings/action.ts
  apps/frontend/src/routes/signup/action.spec.ts
  apps/frontend/src/routes/signup/action.ts
  apps/frontend/src/routes/userprofile/UserProfile.spec.tsx
  apps/frontend/src/routes/userprofile/loader.spec.tsx
  apps/frontend/src/routes/userprofile/loader.ts
  apps/frontend/src/store/index.ts
  apps/frontend/src/store/useBioStore.spec.tsx
  apps/frontend/src/store/useBioStore.ts
  apps/frontend/src/store/userInfoStore.spec.tsx
  apps/frontend/src/store/userInfoStore.ts
  apps/frontend/src/utilities/session/mockUserInfo.ts
  apps/frontend/src/utilities/session/session.spec.ts
  apps/frontend/src/utilities/session/session.ts
  apps/frontend/src/utilities/validation/passwordValidation.spec.tsx
Owners: @studly/frontend

Update action.spec.ts
  apps/frontend/src/routes/logout/action.spec.ts
Owners: @studly/frontend

refactoring to use types and export const
  apps/frontend/src/components/ForgotPassword/ForgotPassword.tsx
  apps/frontend/src/components/Login/Login.tsx
  apps/frontend/src/components/ProfileStatistics/ProfileStatistics.tsx
  apps/frontend/src/components/SettingsTabBar/SettingsTabBar.spec.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/components/UpdatePassword/UpdatePassword.tsx
  apps/frontend/src/components/UserCard/UserCard.tsx
  apps/frontend/src/routes/logout/action.spec.ts
  apps/frontend/src/utilities/notifications/displayNotifications.ts
  apps/frontend/src/utilities/testing/passwordValidation.ts
  apps/frontend/src/utilities/validation/emailValidation.ts
  apps/frontend/src/utilities/validation/passwordValidation.ts
Owners: @studly/frontend

Delete apps/frontend/FETCH_HEAD
  apps/frontend/FETCH_HEAD
Owners: @studly/frontend

refactoring
  apps/frontend/src/routes/logout/action.spec.ts
  apps/frontend/src/routes/userprofile/loader.spec.tsx
Owners: @studly/frontend

fix and merge complete
  apps/frontend/package-lock.json
  apps/frontend/src/routes/login/action.spec.ts
  apps/frontend/src/routes/settings/action.spec.ts
  apps/frontend/src/routes/signup/action.spec.ts
Owners: @studly/frontend

refactor state and local storage
  apps/frontend/src/api/badges.spec.ts
  apps/frontend/src/api/badges.ts
  apps/frontend/src/api/sessions.spec.ts
  apps/frontend/src/api/sessions.ts
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.spec.tsx
  apps/frontend/src/mocks/api.ts
  apps/frontend/src/routes/study/action.spec.ts
  apps/frontend/src/routes/study/action.ts
  apps/frontend/src/routes/study/loader.ts
  apps/frontend/src/store/userInfoStore.ts
  apps/frontend/src/types/index.ts
  apps/frontend/src/types/store.ts
  apps/frontend/src/utilities/session/index.ts
  apps/frontend/src/utilities/session/mockUserInfo.ts
  apps/frontend/src/utilities/session/session.spec.ts
  apps/frontend/src/utilities/session/session.ts
Owners: @studly/frontend

consts refactoring and profile refactoring
  apps/frontend/src/App.tsx
  apps/frontend/src/api/profileChanges.ts
  apps/frontend/src/components/ForgotPassword/ForgotPassword.spec.tsx
  apps/frontend/src/components/ForgotPassword/ForgotPassword.tsx
  apps/frontend/src/components/Login/Login.spec.tsx
  apps/frontend/src/components/Login/Login.tsx
  apps/frontend/src/components/Navbar/Navbar.spec.tsx
  apps/frontend/src/components/Navbar/Navbar.tsx
  apps/frontend/src/components/PageSpinner/PageSpinner.spec.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.spec.tsx
  apps/frontend/src/components/SignUp/SignUp.spec.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/components/UpdatePassword/UpdatePassword.spec.tsx
  apps/frontend/src/components/UpdatePassword/UpdatePassword.tsx
  apps/frontend/src/components/UserCard/UserCard.spec.tsx
  apps/frontend/src/components/UserCard/UserCard.tsx
  apps/frontend/src/components/index.ts
  apps/frontend/src/constants/index.ts
  apps/frontend/src/constants/profile_bio.ts
  apps/frontend/src/constants/routes.ts
  apps/frontend/src/constants/strings.ts
  apps/frontend/src/routes/badges/Badges.spec.tsx
  apps/frontend/src/routes/index.ts
  apps/frontend/src/routes/login/action.spec.ts
  apps/frontend/src/routes/login/action.ts
  apps/frontend/src/routes/logout/action.spec.ts
  apps/frontend/src/routes/logout/action.ts
  apps/frontend/src/routes/profile/Profile.spec.tsx
  apps/frontend/src/routes/profile/Profile.tsx
  apps/frontend/src/routes/profile/index.ts
  apps/frontend/src/routes/profile/loader.spec.tsx
  apps/frontend/src/routes/profile/loader.ts
  apps/frontend/src/routes/settings/action.spec.ts
  apps/frontend/src/routes/settings/action.ts
  apps/frontend/src/routes/signup/action.spec.ts
  apps/frontend/src/routes/signup/action.ts
  apps/frontend/src/routes/study/Study.spec.tsx
  apps/frontend/src/utilities/requests/requests.spec.ts
  apps/frontend/src/utilities/validation/passwordValidation.spec.tsx
Owners: @studly/frontend

refactor profile api route
  apps/frontend/src/api/index.ts
  apps/frontend/src/api/profileChanges.ts
  apps/frontend/src/routes/profile/loader.spec.tsx
Owners: @studly/frontend

refactor profile
  apps/frontend/src/api/profile.ts
  apps/frontend/src/components/UserCard/UserCard.spec.tsx
  apps/frontend/src/routes/profile/Profile.spec.tsx
  apps/frontend/src/routes/profile/loader.spec.tsx
  apps/frontend/src/routes/profile/loader.ts
  apps/frontend/src/types/index.ts
  apps/frontend/src/types/profile.ts
Owners: @studly/frontend

refactor userInfoStore
  apps/frontend/src/api/badges.spec.ts
  apps/frontend/src/api/badges.ts
  apps/frontend/src/api/sessions.spec.ts
  apps/frontend/src/api/sessions.ts
  apps/frontend/src/components/Avatar/Avatar.spec.tsx
  apps/frontend/src/components/Login/Login.spec.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.spec.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.tsx
  apps/frontend/src/components/UserCard/UserCard.spec.tsx
  apps/frontend/src/components/UserCard/UserCard.tsx
  apps/frontend/src/routes/login/action.spec.ts
  apps/frontend/src/routes/login/action.ts
  apps/frontend/src/routes/logout/action.spec.ts
  apps/frontend/src/routes/logout/action.ts
  apps/frontend/src/routes/profile/Profile.spec.tsx
  apps/frontend/src/routes/profile/loader.ts
  apps/frontend/src/routes/settings/action.spec.ts
  apps/frontend/src/routes/settings/action.ts
  apps/frontend/src/routes/signup/action.spec.ts
  apps/frontend/src/routes/signup/action.ts
  apps/frontend/src/routes/study/action.spec.ts
  apps/frontend/src/routes/study/action.ts
  apps/frontend/src/store/index.ts
  apps/frontend/src/store/userInfo.spec.tsx
  apps/frontend/src/store/userInfo.ts
  apps/frontend/src/store/userInfoStore.spec.tsx
Owners: @studly/frontend

use api calls in profile page
  apps/frontend/src/api/sessions.ts
  apps/frontend/src/components/ProfileStatistics/ProfileStatistics.spec.tsx
  apps/frontend/src/components/ProfileStatistics/ProfileStatistics.tsx
  apps/frontend/src/components/UserCard/UserCard.tsx
  apps/frontend/src/routes/userprofile/UserProfile.spec.tsx
  apps/frontend/src/routes/userprofile/loader.ts
  apps/frontend/src/utilities/date/format.ts
Owners: @studly/frontend

feat: extend sessions API and update backend env example
  api-contracts/sessions.api.contract.md
  apps/backend/.env.example
  apps/backend/src/controllers/sessions.controller.js
  apps/backend/src/routes/v1/sessions.routes.js
  apps/backend/src/services/sessions.service.js
  apps/backend/tests/integration/sessions.test.js
  apps/backend/tests/unit/sessions.controller.test.js
  apps/backend/tests/unit/sessions.service.test.js
Owners: @studly/backend

refactor navbar
  apps/frontend/src/App.tsx
  apps/frontend/src/api/sessions.spec.ts
  apps/frontend/src/components/Login/Login.tsx
  apps/frontend/src/components/Navbar/Navbar.spec.tsx
  apps/frontend/src/components/Navbar/Navbar.tsx
  apps/frontend/src/components/PageSpinner/PageSpinner.spec.tsx
  apps/frontend/src/components/PageSpinner/PageSpinner.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/routes/Home.tsx
  apps/frontend/src/routes/badges/Badges.tsx
  apps/frontend/src/routes/profile/Profile.tsx
  apps/frontend/src/routes/settings/Settings.tsx
  apps/frontend/src/routes/study/Study.tsx
Owners: @studly/frontend

unused import
  apps/frontend/src/components/PageSpinner/PageSpinner.spec.tsx
Owners: @studly/frontend

biome
  apps/frontend/src/App.tsx
  apps/frontend/src/api/badges.ts
  apps/frontend/src/api/profile.ts
  apps/frontend/src/components/Login/Login.spec.tsx
  apps/frontend/src/components/Login/Login.tsx
  apps/frontend/src/components/Navbar/Navbar.spec.tsx
  apps/frontend/src/components/Navbar/Navbar.tsx
  apps/frontend/src/components/PageSpinner/PageSpinner.spec.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.spec.tsx
  apps/frontend/src/components/SignUp/SignUp.spec.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/components/UpdatePassword/UpdatePassword.spec.tsx
  apps/frontend/src/components/UserCard/UserCard.spec.tsx
  apps/frontend/src/constants/index.ts
  apps/frontend/src/constants/strings.ts
  apps/frontend/src/mocks/api.ts
  apps/frontend/src/routes/badges/Badges.tsx
  apps/frontend/src/routes/index.ts
  apps/frontend/src/routes/login/action.spec.ts
  apps/frontend/src/routes/logout/action.spec.ts
  apps/frontend/src/routes/settings/action.spec.ts
  apps/frontend/src/routes/signup/action.spec.ts
  apps/frontend/src/routes/signup/action.ts
  apps/frontend/src/routes/study/loader.ts
  apps/frontend/src/store/userInfo.ts
  apps/frontend/src/types/index.ts
  apps/frontend/src/types/store.ts
  apps/frontend/src/utilities/requests/requests.spec.ts
  apps/frontend/src/utilities/validation/passwordValidation.spec.tsx
Owners: @studly/frontend

Configure backend sessions env and strings
  apps/backend/src/config/strings.config.js
  apps/backend/src/index.js
Owners: @studly/backend

Fix Supabase mock usage for session APIs
  apps/backend/src/config/supabase.client.js
  apps/backend/src/controllers/profile.controller.js
  apps/backend/tests/integration/sessions.test.js
  infra/docker/mock/supabase-mock.client.js
Owners: @studly/backend

Fix Supabase mock usage for session APIs (#158)
  apps/backend/src/config/supabase.client.js
  apps/backend/src/controllers/profile.controller.js
  apps/backend/tests/integration/sessions.test.js
  infra/docker/mock/supabase-mock.client.js
Owners: @studly/backend

Default tests to use Supabase mock
  apps/backend/tests/support/run-jest-lite.js
  apps/backend/tests/unit/internal-api-key.middleware.test.js
Owners: @studly/backend

Default tests to use Supabase mock (#159)
  apps/backend/tests/support/run-jest-lite.js
  apps/backend/tests/unit/internal-api-key.middleware.test.js
Owners: @studly/backend

move component strings to strings.ts
  apps/frontend/src/components/AccountActions/AccountActions.tsx
  apps/frontend/src/components/BadgeCollection/BadgeCollection.tsx
  apps/frontend/src/components/BadgeStatistics/BadgeStatistics.tsx
  apps/frontend/src/components/ForgotPassword/ForgotPassword.spec.tsx
  apps/frontend/src/components/ForgotPassword/ForgotPassword.tsx
  apps/frontend/src/components/Login/Login.spec.tsx
  apps/frontend/src/components/Login/Login.tsx
  apps/frontend/src/components/Navbar/Navbar.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.tsx
  apps/frontend/src/components/RecentStudySessions/RecentStudySessions.spec.tsx
  apps/frontend/src/components/RecentStudySessions/RecentStudySessions.tsx
  apps/frontend/src/components/SetupStudySession/SetupStudySession.tsx
  apps/frontend/src/components/SignUp/SignUp.spec.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/components/StudySession/StudySession.tsx
  apps/frontend/src/components/StudyTips/StudyTips.tsx
  apps/frontend/src/components/TodaysStudyStatistics/TodaysStudyStatistics.tsx
  apps/frontend/src/components/UpdatePassword/UpdatePassword.tsx
  apps/frontend/src/constants/strings.ts
  apps/frontend/src/utilities/validation/emailValidation.ts
  apps/frontend/src/utilities/validation/passwordValidation.ts
Owners: @studly/frontend

local storage persist refactor
  apps/frontend/src/components/Login/Login.spec.tsx
  apps/frontend/src/components/Navbar/Navbar.spec.tsx
  apps/frontend/src/components/Navbar/Navbar.tsx
  apps/frontend/src/constants/api.ts
  apps/frontend/src/routes/login/action.spec.ts
  apps/frontend/src/routes/login/action.ts
  apps/frontend/src/routes/logout/action.spec.ts
  apps/frontend/src/routes/logout/action.ts
  apps/frontend/src/routes/settings/action.spec.ts
  apps/frontend/src/routes/settings/action.ts
  apps/frontend/src/routes/signup/action.spec.ts
  apps/frontend/src/routes/signup/action.ts
  apps/frontend/src/store/userInfo.spec.tsx
  apps/frontend/src/store/userInfo.ts
  apps/frontend/src/types/store.ts
Owners: @studly/frontend

tests for this week box in profile component
  apps/frontend/src/api/sessions.ts
  apps/frontend/src/components/ProfileStatistics/ProfileStatistics.spec.tsx
  apps/frontend/src/components/ProfileStatistics/ProfileStatistics.tsx
  apps/frontend/src/components/UserCard/UserCard.spec.tsx
  apps/frontend/src/components/UserCard/UserCard.tsx
  apps/frontend/src/routes/userprofile/UserProfile.spec.tsx
  apps/frontend/src/routes/userprofile/loader.spec.tsx
  apps/frontend/src/routes/userprofile/loader.ts
  apps/frontend/src/utilities/date/format.ts
Owners: @studly/frontend

chore(cli): add initial cli-frontend scaffold
  apps/cli-frontend/README.md
  apps/cli-frontend/package-lock.json
  apps/cli-frontend/package.json
  apps/cli-frontend/src/commands/createAccount.ts
  apps/cli-frontend/src/commands/createSession.ts
  apps/cli-frontend/src/commands/getSessionSummary.ts
  apps/cli-frontend/src/commands/login.ts
  apps/cli-frontend/src/index.ts
  apps/cli-frontend/tsconfig.json
Owners: none

fix test errors
  apps/frontend/src/routes/profile/Profile.spec.tsx
Owners: @studly/frontend

fix linter issues
  apps/frontend/src/routes/profile/Profile.spec.tsx
Owners: @studly/frontend

Update profile controller for Supabase auth and bio handling
  apps/backend/src/controllers/profile.controller.js
Owners: @studly/backend

fix test issues
  apps/frontend/src/routes/profile/Profile.spec.tsx
Owners: @studly/frontend

fix linter issues
  apps/frontend/src/routes/profile/Profile.spec.tsx
Owners: @studly/frontend

fix test errors
  apps/frontend/src/routes/profile/Profile.spec.tsx
Owners: @studly/frontend

fix test errors
  apps/frontend/src/routes/profile/Profile.spec.tsx
Owners: @studly/frontend

fix linter errors
  apps/frontend/src/routes/profile/Profile.spec.tsx
Owners: @studly/frontend

Update Profile.spec.tsx
  apps/frontend/src/routes/profile/Profile.spec.tsx
Owners: @studly/frontend
