Repository HaMeD1379/Studly, changes with the owners that CODEOWNERS names for each.
All owners: @studly/frontend, @studly/backend, @studly/core, @studly/docs

CODEOWNERS:

# Map folders to reviewer groups/owners
# Replace @studly/* with real GitHub handles or teams
/apps/frontend/   @studly/frontend
/apps/backend/    @studly/backend
/packages/        @studly/core
/docs/            @studly/docs

done
  apps/frontend/cypress/support/commands.ts
Owners: @studly/frontend

try cleaned version
  .github/workflows/ci.yml
Owners: none

revert
  .github/workflows/ci.yml
Owners: none

docs: add CLI vs Web framework comparison to cli-frontend README (#173)
  apps/cli-frontend/README.md
Owners: none

E2E setup + tests (#170)
  .github/workflows/ci.yml
  .gitignore
  apps/frontend/cypress.config.ts
  apps/frontend/cypress.env.example.json
  apps/frontend/cypress/e2e/badges.cy.ts
  apps/frontend/cypress/e2e/leaderboard.cy.ts
  apps/frontend/cypress/e2e/navbar.cy.ts
  apps/frontend/cypress/e2e/navbar.cy.tsx
  apps/frontend/cypress/e2e/study/setupStudySession.cy.tsx
  apps/frontend/cypress/e2e/study/studySession.cy.tsx
  apps/frontend/cypress/e2e/studySession.cy.ts
  apps/frontend/cypress/support/commands.ts
Owners: @studly/frontend

ADD: feed api and UPDATE: reverted back the friends api
  api-contracts/feed.api.contract.md
  apps/backend/src/config/strings.config.js
  apps/backend/src/controllers/feed.controller.js
  apps/backend/src/controllers/friends.controller.js
  apps/backend/src/index.js
  apps/backend/src/routes/v1/feed.routes.js
  apps/backend/tests/integration/feed.test.js
  apps/backend/tests/integration/friends.test.js
Owners: @studly/backend

FIX: api docs typo
  api-contracts/feed.api.contract.md
Owners: none

Refactor HomeHeader component for improved data handling
  apps/frontend/src/components/HomeHeader/HomeHeader.tsx
Owners: @studly/frontend

Add BADGES route constant
  apps/frontend/src/constants/route.ts
Owners: @studly/frontend

improve code format
  apps/frontend/src/components/FindFriends/FindFriends.spec.tsx
  apps/frontend/src/components/FriendRequest/FriendRequest.spec.tsx
  apps/frontend/src/components/FriendsHeader/FriendsHeader.spec.tsx
  apps/frontend/src/components/FriendsStatus/FriendsStatus.spec.tsx
  apps/frontend/src/components/Login/Login.spec.tsx
  apps/frontend/src/utilities/profileStatistics/sortBadgesByDate.tsx
  apps/frontend/src/utilities/time/format.ts
Owners: @studly/frontend

fix linter errors
  apps/frontend/src/components/FindFriends/FindFriends.spec.tsx
  apps/frontend/src/components/FriendRequest/FriendRequest.spec.tsx
  apps/frontend/src/components/FriendsHeader/FriendsHeader.spec.tsx
  apps/frontend/src/components/FriendsStatus/FriendsStatus.spec.tsx
  apps/frontend/src/components/Login/Login.spec.tsx
  apps/frontend/src/utilities/profileStatistics/sortBadgesByDate.tsx
Owners: @studly/frontend

ADD: feed api and UPDATE: reverted back the friends api (#174)
  api-contracts/feed.api.contract.md
  apps/backend/src/config/strings.config.js
  apps/backend/src/controllers/feed.controller.js
  apps/backend/src/controllers/friends.controller.js
  apps/backend/src/index.js
  apps/backend/src/routes/v1/feed.routes.js
  apps/backend/tests/integration/feed.test.js
  apps/backend/tests/integration/friends.test.js
Owners: @studly/backend

update navbar e2e test
  apps/frontend/cypress/e2e/navbar.cy.ts
Owners: @studly/frontend

fix errors in home header
  apps/frontend/src/components/HomeHeader/HomeHeader.tsx
Owners: @studly/frontend

fix linter
  apps/frontend/src/components/HomeHeader/HomeHeader.tsx
Owners: @studly/frontend

fix undefined error in home header
  apps/frontend/src/components/HomeHeader/HomeHeader.tsx
Owners: @studly/frontend

add view profile page
  apps/frontend/src/components/FindFriends/FindFriends.tsx
  apps/frontend/src/components/FriendRequest/FriendRequest.tsx
  apps/frontend/src/components/FriendsStatus/FriendsStatus.tsx
  apps/frontend/src/components/ProfileCards/ProfileCard.tsx
  apps/frontend/src/components/ViewUserProfile/ViewUserProfile.spec.tsx
  apps/frontend/src/components/ViewUserProfile/ViewUserProfile.tsx
  apps/frontend/src/components/index.ts
  apps/frontend/src/constants/strings.ts
  apps/frontend/src/routes/friends/Friends.tsx
  apps/frontend/src/routes/friends/loader.ts
  apps/frontend/src/types/friends.ts
  apps/frontend/src/types/profile.ts
  apps/frontend/src/utilities/time/format.ts
Owners: @studly/frontend

remove log statements
  apps/frontend/src/components/FriendsStatus/FriendsStatus.tsx
  apps/frontend/src/components/UpdatePassword/UpdatePassword.tsx
  apps/frontend/src/components/ViewUserProfile/ViewUserProfile.tsx
  apps/frontend/src/routes/friends/loader.ts
Owners: @studly/frontend

Update HomeHeader.tsx
  apps/frontend/src/components/HomeHeader/HomeHeader.tsx
Owners: @studly/frontend

Update HomeHeader.tsx
  apps/frontend/src/components/HomeHeader/HomeHeader.tsx
Owners: @studly/frontend

Update HomeHeader.tsx
  apps/frontend/src/components/HomeHeader/HomeHeader.tsx
Owners: @studly/frontend

update navbar path for external page changes
  apps/frontend/src/App.tsx
  apps/frontend/src/components/HomeHeader/HomeHeader.tsx
  apps/frontend/src/components/Navbar/Navbar.spec.tsx
  apps/frontend/src/components/Navbar/Navbar.tsx
  apps/frontend/src/components/UserCard/UserCard.spec.tsx
  apps/frontend/src/components/UserCard/UserCard.tsx
  apps/frontend/src/context/index.ts
  apps/frontend/src/context/navbarContext.tsx
  apps/frontend/src/routes/profile/Profile.spec.tsx
Owners: @studly/frontend

Update HomeHeader.tsx
  apps/frontend/src/components/HomeHeader/HomeHeader.tsx
Owners: @studly/frontend

upcoming badges + refactoring for reviews
  apps/frontend/src/api/badges.ts
  apps/frontend/src/components/Avatar/Avatar.tsx
  apps/frontend/src/components/DisplayUnlockedBadges/DisplayUnlockedBadges.spec.tsx
  apps/frontend/src/components/DisplayUnlockedBadges/DisplayUnlockedBadges.tsx
  apps/frontend/src/components/FindFriends/FindFriends.spec.tsx
  apps/frontend/src/components/FindFriends/FindFriends.tsx
  apps/frontend/src/components/ForgotPassword/ForgotPassword.tsx
  apps/frontend/src/components/FriendRequest/FriendRequest.spec.tsx
  apps/frontend/src/components/FriendsHeader/FriendsHeader.spec.tsx
  apps/frontend/src/components/FriendsHeader/FriendsHeader.tsx
  apps/frontend/src/components/FriendsStatus/FriendsStatus.tsx
  apps/frontend/src/components/HomeHeader/HomeHeader.spec.tsx
  apps/frontend/src/components/HomeHeader/HomeHeader.tsx
  apps/frontend/src/components/Login/Login.spec.tsx
  apps/frontend/src/components/Login/Login.tsx
  apps/frontend/src/components/Navbar/Navbar.tsx
  apps/frontend/src/components/ProfileCards/ProfileCard.spec.tsx
  apps/frontend/src/components/ProfileCards/ProfileCard.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.spec.tsx
  apps/frontend/src/components/ProfileStatistics/ProfileStatistics.spec.tsx
  apps/frontend/src/components/UserCard/UserCard.spec.tsx
  apps/frontend/src/components/ViewUserProfile/ViewUserProfile.tsx
  apps/frontend/src/components/index.ts
  apps/frontend/src/constants/strings.ts
  apps/frontend/src/mocks/friends.ts
  apps/frontend/src/mocks/home.ts
  apps/frontend/src/mocks/index.ts
  apps/frontend/src/mocks/profile.ts
  apps/frontend/src/routes/friends/action.spec.ts
  apps/frontend/src/routes/friends/action.ts
  apps/frontend/src/routes/home/Home.spec.tsx
  apps/frontend/src/routes/home/Home.tsx
  apps/frontend/src/routes/home/loader.spec.ts
  apps/frontend/src/routes/home/loader.ts
  apps/frontend/src/routes/settings/action.ts
  apps/frontend/src/store/profileInfo.spec.tsx
  apps/frontend/src/types/badges.ts
  apps/frontend/src/utilities/testing/passwordValidation.ts
Owners: @studly/frontend

fix biome errors
  apps/frontend/src/components/HomeHeader/HomeHeader.tsx
Owners: @studly/frontend

use new changes to the Friends API
  apps/frontend/src/api/badges.ts
  apps/frontend/src/components/DisplayUnlockedBadges/DisplayUnlockedBadges.tsx
  apps/frontend/src/components/FriendsStatus/FriendsStatus.tsx
  apps/frontend/src/components/HomeHeader/HomeHeader.tsx
  apps/frontend/src/routes/friends/action.ts
  apps/frontend/src/routes/friends/loader.spec.ts
  apps/frontend/src/routes/friends/loader.ts
  apps/frontend/src/routes/home/loader.ts
Owners: @studly/frontend

remove console log
  apps/frontend/src/components/FriendsStatus/FriendsStatus.tsx
Owners: @studly/frontend

more fixes
  apps/frontend/package-lock.json
  apps/frontend/src/components/BadgeStatistics/BadgeStatistics.tsx
  apps/frontend/src/components/ForgotPassword/ForgotPassword.tsx
  apps/frontend/src/components/HomeHeader/HomeHeader.tsx
  apps/frontend/src/components/InProgressBadges/InProgressBadges.spec.tsx
  apps/frontend/src/components/InProgressBadges/InProgressBadges.tsx
  apps/frontend/src/components/index.ts
  apps/frontend/src/constants/strings.ts
  apps/frontend/src/routes/friends/action.ts
  apps/frontend/src/routes/home/Home.spec.tsx
  apps/frontend/src/routes/home/Home.tsx
  apps/frontend/src/routes/home/loader.ts
  apps/frontend/src/types/badges.ts
Owners: @studly/frontend

biome
  apps/frontend/src/components/HomeHeader/HomeHeader.tsx
  apps/frontend/src/components/index.ts
  apps/frontend/src/routes/home/Home.tsx
Owners: @studly/frontend

naming
  apps/frontend/src/components/HomeHeader/HomeHeader.tsx
Owners: @studly/frontend

forgot a name
  apps/frontend/src/components/InProgressBadges/InProgressBadges.spec.tsx
Owners: @studly/frontend

fix unti tests
  apps/frontend/src/routes/signup/action.spec.ts
Owners: @studly/frontend

delete not needed spec
  apps/frontend/src/App.spec.tsx
Owners: @studly/frontend

ui fixes and logo
  apps/frontend/src/assets/landscape-placeholder.svg
  apps/frontend/src/assets/logo.png
  apps/frontend/src/components/AccountActions/AccountActions.tsx
  apps/frontend/src/components/FindFriends/FindFriends.tsx
  apps/frontend/src/components/ForgotPassword/ForgotPassword.tsx
  apps/frontend/src/components/FriendRequest/FriendRequest.tsx
  apps/frontend/src/components/FriendsHeader/FriendsHeader.tsx
  apps/frontend/src/components/FriendsStatus/FriendsStatus.tsx
  apps/frontend/src/components/HomeHeader/HomeHeader.tsx
  apps/frontend/src/components/InProgressBadges/InProgressBadges.tsx
  apps/frontend/src/components/Login/Login.tsx
  apps/frontend/src/components/ProfileCards/ProfileCard.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.spec.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.tsx
  apps/frontend/src/components/ProfileStatistics/ProfileStatistics.tsx
  apps/frontend/src/components/SettingsTabBar/SettingsTabBar.spec.tsx
  apps/frontend/src/components/SettingsTabBar/SettingsTabBar.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/components/UpdatePassword/UpdatePassword.tsx
  apps/frontend/src/components/UserCard/UserCard.tsx
  apps/frontend/src/components/ViewUserProfile/ViewUserProfile.tsx
  apps/frontend/src/components/index.ts
  apps/frontend/src/routes/login/Login.tsx
  apps/frontend/src/routes/settings/Settings.tsx
Owners: @studly/frontend

biome fix
  apps/frontend/src/components/ProfileStatistics/ProfileStatistics.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/routes/settings/Settings.tsx
Owners: @studly/frontend

UI updated
  apps/frontend/src/App.tsx
  apps/frontend/src/components/AccountActions/AccountActions.tsx
  apps/frontend/src/components/HomeActivityFeed/HomeActivityFeed.tsx
  apps/frontend/src/components/HomeHeader/HomeHeader.tsx
  apps/frontend/src/components/Login/Login.tsx
  apps/frontend/src/components/index.ts
  apps/frontend/src/constants/api.ts
  apps/frontend/src/constants/index.ts
  apps/frontend/src/constants/strings.ts
  apps/frontend/src/routes/home/Home.tsx
  apps/frontend/src/routes/home/loader.ts
  apps/frontend/src/types/index.ts
  apps/frontend/src/types/loaders.ts
  apps/frontend/src/types/studySession.ts
  apps/frontend/src/utilities/time/format.ts
Owners: @studly/frontend

add files
  apps/frontend/src/api/feed.ts
  apps/frontend/src/constants/feed.ts
  apps/frontend/src/routes/home/Home.tsx
  apps/frontend/src/types/feed.ts
Owners: @studly/frontend

FIX: feed api
  apps/backend/src/controllers/feed.controller.js
  apps/backend/tests/integration/feed.test.js
Owners: @studly/backend

CHANGE: feed contract
  api-contracts/feed.api.contract.md
Owners: none

FIX: feed api (#177)
  api-contracts/feed.api.contract.md
  apps/backend/src/controllers/feed.controller.js
  apps/backend/tests/integration/feed.test.js
Owners: @studly/backend
