Repository HaMeD1379/Studly, changes with the owners that CODEOWNERS names for each.
All owners: @studly/frontend, @studly/backend, @studly/core, @studly/docs

CODEOWNERS:

# Map folders to reviewer groups/owners
# Replace @studly/* with real GitHub handles or teams
/apps/frontend/   @studly/frontend
/apps/backend/    @studly/backend
/packages/        @studly/core
/docs/            @studly/docs

Creating the structure to work on the backend (#18)
  apps/backend/README.md
  apps/backend/jest.config.js
  apps/backend/package.json
  apps/backend/src/config/supabase.js
  apps/backend/src/controllers/auth.controller.js
  apps/backend/src/controllers/sessions.controller.js
  apps/backend/src/index.js
  apps/backend/src/middleware/auth.middleware.js
  apps/backend/src/routes/auth.routes.js
  apps/backend/src/routes/sessions.routes.js
  apps/backend/src/utils/validator.js
  apps/backend/tests/InitialBasicTest.js
  apps/backend/tests/TESTINGPLAN.md
  apps/backend/tests/setup.js
Owners: @studly/backend

Expand CI workflows for frontend and backend
  .github/workflows/ci.yml
Owners: none

Simplify backend tests to use Node test runner
  apps/backend/jest.config.js
  apps/backend/package.json
  apps/backend/tests/InitialBasicTest.js
  apps/backend/tests/integration/.gitkeep
  apps/backend/tests/setup.js
  apps/backend/tests/smoke.test.js
  apps/backend/tests/unit/.gitkeep
Owners: @studly/backend

Added missing files from main
  apps/backend/jest.config.js
  apps/backend/tests/InitialBasicTest.js
  apps/backend/tests/setup.js
Owners: @studly/backend

Restored misisng files
  apps/backend/jest.config.js
  apps/backend/tests/InitialBasicTest.js
  apps/backend/tests/setup.js
Owners: @studly/backend

Fix backend entrypoint
  apps/backend/Dockerfile
  apps/backend/package.json
Owners: @studly/backend

Implemented testing for SignUp Login and Forgot Pa ssword Functionality
  apps/frontend/src/components/ForgotPassword/ForgotPassword.spec.tsx
  apps/frontend/src/components/Login/LoginForm.spec.tsx
  apps/frontend/src/components/Login/LoginForm.tsx
  apps/frontend/src/components/SignUp/SignUp.spec.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/utilities/testing/emailValidation.spec.ts
  apps/frontend/src/utilities/testing/passwordValidation.spec.tsx
  apps/frontend/src/utilities/testing/passwordValidation.ts
Owners: @studly/frontend

added testing files for backend
  apps/backend/tests/integration/auth.api.test.js
  apps/backend/tests/integration/sessions.api.test.js
  apps/backend/tests/unit/auth.controller.test.js
  apps/backend/tests/unit/sessions.controller.test.js
Owners: @studly/backend

added testing files for backend (#23)
  apps/backend/tests/integration/auth.api.test.js
  apps/backend/tests/integration/sessions.api.test.js
  apps/backend/tests/unit/auth.controller.test.js
  apps/backend/tests/unit/sessions.controller.test.js
Owners: @studly/backend

Study tips component
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/StudyTips/StudyTips.spec.tsx
  apps/frontend/src/components/StudyTips/StudyTips.tsx
Owners: @studly/frontend

setupstudysession component
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/components/index.ts
  apps/frontend/src/routes/Study.tsx
  apps/frontend/vite.config.ts
Owners: @studly/frontend

add files
  apps/frontend/src/components/SetupStudySession/SetupStudySession.spec.tsx
  apps/frontend/src/components/SetupStudySession/SetupStudySession.tsx
  apps/frontend/src/components/SetupStudySession/index.ts
  apps/frontend/src/constants/index.ts
  apps/frontend/src/constants/study.ts
Owners: @studly/frontend

Implement Sessions API (routes, controller, service, config) with unit tests
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/config/supabase.js
  apps/backend/src/controllers/sessions.controller.js
  apps/backend/src/index.js
  apps/backend/src/routes/sessions.routes.js
  apps/backend/src/services/sessions.service.js
  apps/backend/tests/unit/sessions.controller.test.js
Owners: @studly/backend

test: expand coverage for sessions api
  apps/backend/tests/unit/sessions.controller.test.js
  apps/backend/tests/unit/sessions.service.test.js
Owners: @studly/backend

Summary - add controller tests for missing session subject and endedAt validation paths - add unit coverage for the sessions service Supabase interactions and error handling
  apps/backend/tests/unit/sessions.controller.test.js
  apps/backend/tests/unit/sessions.service.test.js
Owners: @studly/backend

Handle missing Supabase config in tests
  apps/backend/src/config/supabase.js
Owners: @studly/backend

Handle Supabase client fallback for missing config
  apps/backend/src/config/supabase.js
Owners: @studly/backend

RecentStudySessions component
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/RecentStudySessions/RecentStudySessions.spec.tsx
  apps/frontend/src/components/RecentStudySessions/RecentStudySessions.tsx
  apps/frontend/src/components/RecentStudySessions/index.ts
  apps/frontend/src/mocks/index.ts
  apps/frontend/src/mocks/studySessionMocks.ts
  apps/frontend/src/routes/Study.tsx
  apps/frontend/src/types/index.ts
  apps/frontend/src/types/studySessionTypes.ts
Owners: @studly/frontend

prog
  apps/frontend/src/components/TodaysStudyStatistics/TodaysStudyStatistics.spec.tsx
  apps/frontend/src/components/TodaysStudyStatistics/TodaysStudyStatistics.tsx
  apps/frontend/src/components/TodaysStudyStatistics/index.ts
  apps/frontend/src/routes/Study.tsx
Owners: @studly/frontend

fix test
  apps/frontend/src/components/RecentStudySessions/RecentStudySessions.spec.tsx
  apps/frontend/src/components/RecentStudySessions/RecentStudySessions.tsx
  apps/frontend/src/mocks/studySessionMocks.ts
Owners: @studly/frontend

fixed test
  apps/frontend/src/components/RecentStudySessions/RecentStudySessions.spec.tsx
Owners: @studly/frontend

TodaysStudyStatistics component
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/TodaysStudyStatistics/TodaysStudyStatistics.spec.tsx
  apps/frontend/src/components/TodaysStudyStatistics/TodaysStudyStatistics.tsx
  apps/frontend/src/mocks/index.ts
  apps/frontend/src/mocks/studySessionMocks.ts
  apps/frontend/src/routes/Study.tsx
Owners: @studly/frontend

change h to 193 to be level
  apps/frontend/src/components/TodaysStudyStatistics/TodaysStudyStatistics.tsx
Owners: @studly/frontend

Component testing Wrote tests for login, signup, and forgot password functionality. As well as email and password validation
  apps/frontend/src/components/ForgotPassword/ForgotPassword.spec.tsx
  apps/frontend/src/components/ForgotPassword/ForgotPassword.tsx
  apps/frontend/src/components/Login/LoginForm.spec.tsx
  apps/frontend/src/components/Login/LoginForm.tsx
  apps/frontend/src/components/SignUp/SignUp.spec.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/utilities/testing/emailValidation.spec.ts
  apps/frontend/src/utilities/testing/passwordValidation.spec.tsx
  apps/frontend/src/utilities/testing/passwordValidation.ts
Owners: @studly/frontend

chore: remove unused CSS modules for authenticatio n and forgot password
  apps/frontend/src/Styles/AuthenticationTitle.module.css
  apps/frontend/src/Styles/ForgotPassword.module.css
Owners: @studly/frontend

fix: update App.tsx with latest changes
  apps/frontend/src/App.tsx
Owners: @studly/frontend

test: add new test files and update existing Login Form tests
  apps/frontend/src/components/ForgotPassword/ForgotPassword.spec 2.tsx
  apps/frontend/src/components/Login/LoginForm.spec 2.tsx
  apps/frontend/src/components/Login/LoginForm.tsx
  apps/frontend/src/components/SignUp/SignUp.spec 2.tsx
  apps/frontend/src/utilities/testing/emailValidation.spec 2.ts
  apps/frontend/src/utilities/testing/passwordValidation.spec 2.tsx
Owners: @studly/frontend

Delete apps/frontend/src/utilities/testing/passwordValidation.spec.tsx
  apps/frontend/src/utilities/testing/passwordValidation.spec.tsx
Owners: @studly/frontend

Delete apps/frontend/src/utilities/testing/emailValidation.spec.ts
  apps/frontend/src/utilities/testing/emailValidation.spec.ts
Owners: @studly/frontend

Delete apps/frontend/src/components/ForgotPassword/ForgotPassword.spec.tsx
  apps/frontend/src/components/ForgotPassword/ForgotPassword.spec.tsx
Owners: @studly/frontend

Delete apps/frontend/src/components/Login/LoginForm.spec.tsx
  apps/frontend/src/components/Login/LoginForm.spec.tsx
Owners: @studly/frontend

Delete apps/frontend/src/components/SignUp/SignUp.spec.tsx
  apps/frontend/src/components/SignUp/SignUp.spec.tsx
Owners: @studly/frontend

Rename passwordValidation.spec 2.tsx to passwordValidation.spec.tsx
  apps/frontend/src/utilities/testing/passwordValidation.spec.tsx
Owners: @studly/frontend

Rename emailValidation.spec 2.ts to emailValidation.spec.ts
  apps/frontend/src/utilities/testing/emailValidation.spec.ts
Owners: @studly/frontend

Rename ForgotPassword.spec 2.tsx to ForgotPassword.spec.tsx
  apps/frontend/src/components/ForgotPassword/ForgotPassword.spec.tsx
Owners: @studly/frontend

Rename LoginForm.spec 2.tsx to LoginForm.spec.tsx
  apps/frontend/src/components/Login/LoginForm.spec.tsx
Owners: @studly/frontend

Rename SignUp.spec 2.tsx to SignUp.spec.tsx
  apps/frontend/src/components/SignUp/SignUp.spec.tsx
Owners: @studly/frontend

e2e examples
  apps/frontend/cypress/constants/index.ts
  apps/frontend/cypress/constants/url.ts
  apps/frontend/cypress/e2e/navbar.cy.tsx
  apps/frontend/cypress/e2e/sample.cy.tsx
  apps/frontend/cypress/e2e/study/setupStudySession.cy.tsx
  apps/frontend/cypress/e2e/study/studySession.cy.tsx
  apps/frontend/package-lock.json
  apps/frontend/package.json
Owners: @studly/frontend

Refactor test files and add backend Jest setup
  apps/backend/jest.config 2.js
  apps/backend/src/index 2.js
  apps/backend/tests/InitialBasicTest 2.js
  apps/backend/tests/TESTINGPLAN 2.md
  apps/backend/tests/setup 2.js
  apps/backend/tests/smoke.test 2.js
  apps/frontend/src/components/ForgotPassword/ForgotPassword.spec 2.tsx
  apps/frontend/src/components/ForgotPassword/ForgotPassword.spec.tsx
  apps/frontend/src/components/ForgotPassword/ForgotPassword.tsx
  apps/frontend/src/components/Login/LoginForm.spec 2.tsx
  apps/frontend/src/components/Login/LoginForm.spec.tsx
  apps/frontend/src/components/SignUp/SignUp.spec 2.tsx
  apps/frontend/src/components/SignUp/SignUp.spec.tsx
  apps/frontend/src/utilities/testing/emailValidation.spec 2.ts
  apps/frontend/src/utilities/testing/passwordValidation.spec 2.tsx
  apps/frontend/src/utilities/testing/passwordValidation.spec.tsx
Owners: @studly/backend, @studly/frontend

Fixed merge conflicts in LoginForm test file resolved merge conflicts in the test file for the LoginForm component
  apps/frontend/src/components/Login/LoginForm.spec.tsx
Owners: @studly/frontend
