Repository HaMeD1379/Studly, changes with the owners that CODEOWNERS names for each.
All owners: @studly/frontend, @studly/backend, @studly/core, @studly/docs

refactor to fix linter errors
  apps/frontend/src/App.tsx
  apps/frontend/src/actions/login.tsx
  apps/frontend/src/api/auth.ts
  apps/frontend/src/components/Login/Login.spec.tsx
  apps/frontend/src/components/Login/Login.tsx
  apps/frontend/src/components/Navbar/Navbar.spec.tsx
  apps/frontend/src/components/Navbar/Navbar.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/utilities/validation/passwordValidation.spec.tsx
Owners: @studly/frontend

refactor to fix linter errors
  apps/frontend/src/components/Navbar/Navbar.spec.tsx
  apps/frontend/src/components/SignUp/SignUp.spec.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/components/index.ts
  apps/frontend/src/types/requests.ts
Owners: @studly/frontend

refactor to fix linter errors
  apps/frontend/src/components/SignUp/SignUp.tsx
Owners: @studly/frontend

refactor to fix linter errors
  apps/frontend/.eslintrc.cjs
  apps/frontend/README.md
  apps/frontend/cypress.config.ts
  apps/frontend/cypress/e2e/navbar.cy.tsx
  apps/frontend/index.html
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/actions/index.ts
  apps/frontend/src/actions/login.tsx
  apps/frontend/src/actions/logout.tsx
  apps/frontend/src/actions/signup.tsx
  apps/frontend/src/api/auth.ts
  apps/frontend/src/components/Login/Login.spec.tsx
  apps/frontend/src/components/Navbar/Navbar.spec.tsx
  apps/frontend/src/components/Navbar/Navbar.tsx
  apps/frontend/src/components/SignUp/SignUp.spec.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/components/index.ts
  apps/frontend/src/config/api.ts
  apps/frontend/src/types/requests.ts
  apps/frontend/src/utilities/requests/requests.ts
  apps/frontend/src/utilities/validation/passwordValidation.spec.tsx
  apps/frontend/tsconfig.json
  apps/frontend/vite.config.ts
Owners: @studly/frontend

refactor to fix linter errors
  apps/frontend/src/components/Login/Login.tsx
Owners: @studly/frontend

chore: standardize backend file naming
  apps/backend/src/config/strings.config.js
  apps/backend/src/config/supabase.client.js
  apps/backend/src/controllers/auth.controller.js
  apps/backend/src/index.js
  apps/backend/src/middleware/auth.validation.middleware.js
  apps/backend/src/middleware/internal-api-key.middleware.js
  apps/backend/src/repositories/badges.repository.js
  apps/backend/src/routes/v1/authentication.routes.js
  apps/backend/src/routes/v1/badges.routes.js
  apps/backend/src/services/sessions.service.js
  apps/backend/src/utils/server.utils.js
  apps/backend/src/utils/validator.js
  apps/backend/src/utils/validator.utils.js
  apps/backend/tests/integration/authController.test.js
  apps/backend/tests/integration/sessions.test.js
  apps/backend/tests/unit/auth.validation.middleware.test.js
  apps/backend/tests/unit/badges.controller.test.js
  apps/backend/tests/unit/badges.repository.test.js
  apps/backend/tests/unit/badges.service.test.js
  apps/backend/tests/unit/internal-api-key.middleware.test.js
  apps/backend/tests/unit/server.utils.test.js
  apps/backend/tests/unit/supabaseClient.test.js
  worksheets/sprint1/sprint1worksheet.md
  worksheets/sprint1/testingPlan.md
Owners: @studly/backend

ADD profile update api
  apps/backend/src/config/strings.config.js
  apps/backend/src/controllers/profile.controller.js
  apps/backend/src/index.js
  apps/backend/src/middleware/profile.validation.middleware.js
  apps/backend/src/routes/v1/profile.routes.js
  apps/backend/tests/integration/profile.test.js
  apps/backend/tests/unit/auth.validation.middleware.test.js
  apps/frontend/vercel.json
Owners: @studly/backend, @studly/frontend

fix: remove unused helper functions in profile test to pass ESLint
  apps/backend/tests/integration/profile.test.js
Owners: @studly/backend

ADD profile update api (#133)
  apps/backend/src/config/strings.config.js
  apps/backend/src/controllers/profile.controller.js
  apps/backend/src/index.js
  apps/backend/src/middleware/profile.validation.middleware.js
  apps/backend/src/routes/v1/profile.routes.js
  apps/backend/tests/integration/profile.test.js
  apps/backend/tests/unit/auth.validation.middleware.test.js
  apps/frontend/vercel.json
Owners: @studly/backend, @studly/frontend

works
  apps/frontend/cypress/e2e/study/setupStudySession.cy.tsx
  apps/frontend/cypress/e2e/study/studySession.cy.tsx
  apps/frontend/src/api/index.ts
  apps/frontend/src/api/sessions.spec.ts
  apps/frontend/src/api/sessions.ts
  apps/frontend/src/components/BadgeCollection/BadgeCollection.spec.tsx
  apps/frontend/src/components/RecentStudySessions/RecentStudySessions.spec.tsx
  apps/frontend/src/components/RecentStudySessions/RecentStudySessions.tsx
  apps/frontend/src/components/StudySession/StudySession.spec.tsx
  apps/frontend/src/components/StudySession/StudySession.tsx
  apps/frontend/src/components/TodaysStudyStatistics/TodaysStudyStatistics.spec.tsx
  apps/frontend/src/components/TodaysStudyStatistics/TodaysStudyStatistics.tsx
  apps/frontend/src/constants/study.ts
  apps/frontend/src/mocks/api.ts
  apps/frontend/src/mocks/badges.ts
  apps/frontend/src/mocks/index.ts
  apps/frontend/src/mocks/requests.ts
  apps/frontend/src/mocks/session.ts
  apps/frontend/src/mocks/studySession.ts
  apps/frontend/src/routes/Badges.tsx
  apps/frontend/src/routes/study/Study.spec.tsx
  apps/frontend/src/routes/study/Study.tsx
  apps/frontend/src/routes/study/action.spec.ts
  apps/frontend/src/routes/study/action.ts
  apps/frontend/src/routes/study/loader.spec.ts
  apps/frontend/src/routes/study/loader.ts
  apps/frontend/src/types/actions.ts
  apps/frontend/src/types/index.ts
  apps/frontend/src/types/loaders.ts
  apps/frontend/src/types/requests.ts
  apps/frontend/src/types/studySession.ts
  apps/frontend/src/utilities/date/format.spec.ts
  apps/frontend/src/utilities/requests/requests.spec.ts
  apps/frontend/src/utilities/session/index.ts
  apps/frontend/src/utilities/session/session.spec.ts
  apps/frontend/src/utilities/session/session.ts
Owners: @studly/frontend

format and lint
  apps/frontend/src/api/sessions.spec.ts
  apps/frontend/src/api/sessions.ts
  apps/frontend/src/components/RecentStudySessions/RecentStudySessions.tsx
  apps/frontend/src/components/StudySession/StudySession.spec.tsx
  apps/frontend/src/components/StudySession/StudySession.tsx
  apps/frontend/src/constants/study.ts
  apps/frontend/src/mocks/api.ts
  apps/frontend/src/mocks/index.ts
  apps/frontend/src/mocks/studySession.ts
  apps/frontend/src/routes/study/Study.spec.tsx
  apps/frontend/src/routes/study/Study.tsx
  apps/frontend/src/routes/study/action.spec.ts
  apps/frontend/src/routes/study/action.ts
  apps/frontend/src/routes/study/loader.spec.ts
  apps/frontend/src/routes/study/loader.ts
  apps/frontend/src/types/actions.ts
  apps/frontend/src/types/index.ts
  apps/frontend/src/types/loaders.ts
  apps/frontend/src/utilities/session/index.ts
  apps/frontend/src/utilities/session/session.spec.ts
  apps/frontend/src/utilities/session/session.ts
Owners: @studly/frontend

comment out e2e for now
  apps/frontend/cypress/e2e/navbar.cy.tsx
Owners: @studly/frontend

Refactors UserProfile and adds testing for components -Makes the userProfile components 1-1 -adds tests for newly created components in the userProfile -adds tests for the avatar component
  apps/frontend/src/App.tsx
  apps/frontend/src/actions/index.ts
  apps/frontend/src/components/Avatar/Avatar.spec.tsx
  apps/frontend/src/components/Login/Login.spec.tsx
  apps/frontend/src/components/Navbar/Navbar.spec.tsx
  apps/frontend/src/components/Navbar/Navbar.tsx
  apps/frontend/src/components/ProfileCards/ProfileCard.spec.tsx
  apps/frontend/src/components/ProfileCards/ProfileCard.tsx
  apps/frontend/src/components/ProfileStatistics/ProfileStatistics.spec.tsx
  apps/frontend/src/components/ProfileStatistics/ProfileStatistics.tsx
  apps/frontend/src/components/SignUp/SignUp.spec.tsx
  apps/frontend/src/components/UserCard/UserCard.spec.tsx
  apps/frontend/src/components/UserCard/UserCard.tsx
  apps/frontend/src/components/UserProfile/UserProfile.tsx
  apps/frontend/src/components/index.ts
  apps/frontend/src/constants/index.ts
  apps/frontend/src/constants/profile_bio.ts
  apps/frontend/src/routes/UserProfile.tsx
  apps/frontend/src/routes/index.ts
  apps/frontend/src/routes/login/Login.tsx
  apps/frontend/src/routes/login/action.ts
  apps/frontend/src/routes/login/index.ts
  apps/frontend/src/routes/logout/action.ts
  apps/frontend/src/routes/logout/index.ts
  apps/frontend/src/routes/signup/SignUp.tsx
  apps/frontend/src/routes/signup/action.ts
  apps/frontend/src/routes/signup/index.ts
  apps/frontend/src/types/requests.ts
  apps/frontend/src/utilities/validation/passwordValidation.spec.tsx
Owners: @studly/frontend

updates the api constant file to add endpoints
  apps/frontend/src/constants/api.ts
Owners: @studly/frontend

Fix merge conflicts
  apps/frontend/cypress/e2e/navbar.cy.tsx
  apps/frontend/src/App.tsx
  apps/frontend/src/components/Avatar/Avatar.spec.tsx
  apps/frontend/src/components/Login/Login.spec.tsx
  apps/frontend/src/components/Navbar/Navbar.spec.tsx
  apps/frontend/src/components/PageSpinner/PageSpinner.spec.tsx
  apps/frontend/src/components/ProfileCards/ProfileCard.spec.tsx
  apps/frontend/src/components/ProfileCards/ProfileCard.tsx
  apps/frontend/src/components/ProfileStatistics/ProfileStatistics.spec.tsx
  apps/frontend/src/components/ProfileStatistics/ProfileStatistics.tsx
  apps/frontend/src/components/SignUp/SignUp.spec.tsx
  apps/frontend/src/components/UserCard/UserCard.spec.tsx
  apps/frontend/src/components/UserCard/UserCard.tsx
  apps/frontend/src/components/index.ts
  apps/frontend/src/constants/index.ts
  apps/frontend/src/constants/profile_bio.ts
  apps/frontend/src/routes/UserProfile.tsx
  apps/frontend/src/routes/index.ts
  apps/frontend/src/routes/login/action.ts
  apps/frontend/src/routes/signup/index.ts
  apps/frontend/src/routes/study/Study.spec.tsx
  apps/frontend/src/routes/study/action.spec.ts
  apps/frontend/src/types/requests.ts
  apps/frontend/src/utilities/validation/passwordValidation.spec.tsx
Owners: @studly/frontend

Handle error handling
  apps/frontend/src/components/Navbar/Navbar.spec.tsx
  apps/frontend/src/components/Navbar/Navbar.tsx
Owners: @studly/frontend

Fix linter errors
  apps/frontend/src/components/Navbar/Navbar.spec.tsx
  apps/frontend/src/components/Navbar/Navbar.tsx
Owners: @studly/frontend

REMOVED console.errors from auth
  apps/backend/src/controllers/auth.controller.js
  apps/backend/tests/unit/badges.service.test.js
Owners: @studly/backend

REMOVED console.errors from auth (#138)
  apps/backend/src/controllers/auth.controller.js
  apps/backend/tests/unit/badges.service.test.js
Owners: @studly/backend

fix
  apps/frontend/src/mocks/studySession.ts
  apps/frontend/src/routes/Badges.tsx
  apps/frontend/src/routes/UserProfile.tsx
  apps/frontend/src/routes/index.ts
  apps/frontend/src/routes/study/Study.spec.tsx
  apps/frontend/src/routes/study/Study.tsx
  apps/frontend/src/routes/study/action.spec.ts
  apps/frontend/src/routes/study/action.ts
  apps/frontend/src/routes/study/loader.spec.ts
  apps/frontend/src/routes/study/loader.ts
  apps/frontend/src/types/requests.ts
Owners: @studly/frontend

Create worksheet.md
  worksheets/sprint2/worksheet.md
Owners: none

Update worksheet.md
  worksheets/sprint2/worksheet.md
Owners: none

Update worksheet.md
  worksheets/sprint2/worksheet.md
Owners: none

Update worksheet.md
  worksheets/sprint2/worksheet.md
Owners: none

Update worksheet.md
  worksheets/sprint2/worksheet.md
Owners: none

fix(backend): restore Railway Dockerfile to context-relative COPY; chore(infra): add mem Dockerfile and wire compose.mem.yml for mock mode
  apps/backend/Dockerfile
  infra/docker/backend.mem.Dockerfile
  infra/docker/compose.mem.yml
Owners: @studly/backend

fix(backend): restore Railway Dockerfile to context-relative COPY; chore(infra): add mem Dockerfile and wire compose.mem.yml for mock mode (#141)
  apps/backend/Dockerfile
  infra/docker/backend.mem.Dockerfile
  infra/docker/compose.mem.yml
Owners: @studly/backend

ci(cd): build+push both services via compose.mem.yml; set image names, publish ports; fix localhost access; use mem backend Dockerfile
  .github/workflows/cd.yml
  infra/docker/compose.mem.yml
Owners: none

ci(cd): build+push both services via compose.mem.yml; set image names, publish ports; fix localhost access; use mem backend Dockerfile (#142)
  .github/workflows/cd.yml
  infra/docker/compose.mem.yml
Owners: none

Settings page and login error UI behaviour - Builds the settings page components - displays error to the login UI for invalid credentials - refactoring for consistency purposes
  apps/frontend/src/App.tsx
  apps/frontend/src/api/auth.ts
  apps/frontend/src/components/AccountActions/AccountActions.spec.tsx
  apps/frontend/src/components/AccountActions/AccountActions.tsx
  apps/frontend/src/components/Login/Login.spec.tsx
  apps/frontend/src/components/Login/Login.tsx
  apps/frontend/src/components/Navbar/Navbar.spec.tsx
  apps/frontend/src/components/Navbar/Navbar.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.spec.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.tsx
  apps/frontend/src/components/SettingsTabBar/SettingsTabBar.spec.tsx
  apps/frontend/src/components/SettingsTabBar/SettingsTabBar.tsx
  apps/frontend/src/components/SignUp/SignUp.spec.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/components/index.ts
  apps/frontend/src/routes/index.ts
  apps/frontend/src/routes/login/action.ts
  apps/frontend/src/routes/login/index.ts
  apps/frontend/src/routes/logout/action.ts
  apps/frontend/src/routes/logout/index.ts
  apps/frontend/src/routes/settings/Settings.tsx
  apps/frontend/src/routes/settings/index.ts
  apps/frontend/src/routes/signup/action.ts
  apps/frontend/src/routes/signup/index.ts
  apps/frontend/src/routes/study/Study.spec.tsx
Owners: @studly/frontend

Settings page and login error UI behaviour (#143)
  apps/frontend/src/App.tsx
  apps/frontend/src/api/auth.ts
  apps/frontend/src/components/AccountActions/AccountActions.spec.tsx
  apps/frontend/src/components/AccountActions/AccountActions.tsx
  apps/frontend/src/components/Login/Login.spec.tsx
  apps/frontend/src/components/Login/Login.tsx
  apps/frontend/src/components/Navbar/Navbar.spec.tsx
  apps/frontend/src/components/Navbar/Navbar.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.spec.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.tsx
  apps/frontend/src/components/SettingsTabBar/SettingsTabBar.spec.tsx
  apps/frontend/src/components/SettingsTabBar/SettingsTabBar.tsx
  apps/frontend/src/components/SignUp/SignUp.spec.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/components/index.ts
  apps/frontend/src/routes/index.ts
  apps/frontend/src/routes/login/action.ts
  apps/frontend/src/routes/login/index.ts
  apps/frontend/src/routes/logout/action.ts
  apps/frontend/src/routes/logout/index.ts
  apps/frontend/src/routes/settings/Settings.tsx
  apps/frontend/src/routes/settings/index.ts
  apps/frontend/src/routes/signup/action.ts
  apps/frontend/src/routes/signup/index.ts
  apps/frontend/src/routes/study/Study.spec.tsx
Owners: @studly/frontend

chore : out-of-the-box run improvements
  .gitignore
  infra/docker/QUICKSTART.md
  infra/docker/README.md
  infra/docker/backend.mem.Dockerfile
  infra/docker/docker-compose.prod.yml
Owners: none

chore : out-of-the-box run improvements (#144)
  .gitignore
  infra/docker/QUICKSTART.md
  infra/docker/README.md
  infra/docker/backend.mem.Dockerfile
  infra/docker/docker-compose.prod.yml
Owners: none

Disable settings buttons -disable buttons in the settings component till the api is ready.
  apps/frontend/src/components/AccountActions/AccountActions.spec.tsx
  apps/frontend/src/components/AccountActions/AccountActions.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.spec.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.tsx
Owners: @studly/frontend

docs: add Docker port binding examples, link Quickstart, and Docker Hub references; mention Gordon LLM in Docker Desktop
  README.md
  infra/docker/QUICKSTART.md
Owners: none

UI changes in the settings components -enforces the word count limit and writes tests for new functionality
  apps/frontend/src/components/AccountActions/AccountActions.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.spec.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.tsx
  apps/frontend/src/components/SettingsTabBar/SettingsTabBar.tsx
Owners: @studly/frontend

fix linter erros
  apps/frontend/src/components/AccountActions/AccountActions.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.spec.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.tsx
  apps/frontend/src/components/SettingsTabBar/SettingsTabBar.tsx
Owners: @studly/frontend

change var
  apps/frontend/src/components/AccountActions/AccountActions.spec.tsx
Owners: @studly/frontend

Disable settings buttons (#146)
  apps/frontend/src/components/AccountActions/AccountActions.spec.tsx
  apps/frontend/src/components/AccountActions/AccountActions.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.spec.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.tsx
  apps/frontend/src/components/SettingsTabBar/SettingsTabBar.tsx
Owners: @studly/frontend

docs: add Docker port binding examples, link Quickstart, and Docker Hub references; mention Gordon LLM in Docker Desktop (#145)
  README.md
  infra/docker/QUICKSTART.md
Owners: none

CODEOWNERS:

# Map folders to reviewer groups/owners
# Replace @studly/* with real GitHub handles or teams
/apps/frontend/   @studly/frontend
/apps/backend/    @studly/backend
/packages/        @studly/core
/docs/            @studly/docs
