Repository HaMeD1379/Studly, changes with the owners that CODEOWNERS names for each.
All owners: @studly/frontend, @studly/backend, @studly/core, @studly/docs

chore(backend): add Dockerfile for deterministic Railway builds
  apps/backend/.dockerignore
  apps/backend/Dockerfile
Owners: @studly/backend

sprint0 worksheet
  sprint0.md
Owners: none

change headings
  sprint0.md
Owners: none

changes to md
  sprint0.md
Owners: none

change to bullet points on the links
  sprint0.md
Owners: none

change headings
  sprint0.md
Owners: none

fix &
  sprint0.md
Owners: none

add acceptance critera and user stories to the non functional
  sprint0.md
Owners: none

change to numbers
  sprint0.md
Owners: none

forgot the word session
  sprint0.md
Owners: none

change to application
  sprint0.md
Owners: none

add more to server caching
  sprint0.md
Owners: none

make non reliability in line with the rest
  sprint0.md
Owners: none

change header
  sprint0.md
Owners: none

make nice to have its own section
  sprint0.md
Owners: none

init frontend
  .gitignore
  frontend/.env.example
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.spec.tsx
  frontend/src/App.tsx
  frontend/src/root.tsx
  frontend/src/setupTests.ts
  frontend/src/utilities/testing/index.ts
  frontend/src/utilities/testing/render.tsx
  frontend/tsconfig.json
  frontend/vite.config.ts
Owners: none

change to default port
  frontend/vite.config.ts
Owners: none

test
  frontend/src/App.tsx
Owners: none

Added cypress
  frontend/cypress.config.ts
  frontend/cypress/e2e/sample.cy.tsx
  frontend/cypress/fixtures/example.json
  frontend/cypress/support/commands.ts
  frontend/cypress/support/e2e.ts
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.tsx
Owners: none

init frontend
  .gitignore
  frontend/src/root.tsx
Owners: none

Added cypress
  .gitignore
  frontend/src/root.tsx
Owners: none

move frontend
  apps/frontend/.env.example
  apps/frontend/cypress.config.ts
  apps/frontend/cypress/e2e/sample.cy.tsx
  apps/frontend/cypress/fixtures/example.json
  apps/frontend/cypress/support/commands.ts
  apps/frontend/cypress/support/e2e.ts
  apps/frontend/index.html
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/App.spec.tsx
  apps/frontend/src/App.tsx
  apps/frontend/src/main.tsx
  apps/frontend/src/setupTests.ts
  apps/frontend/src/utilities/testing/index.ts
  apps/frontend/src/utilities/testing/render.tsx
  apps/frontend/tsconfig.json
  apps/frontend/vite.config.ts
  frontend/.env.example
Owners: @studly/frontend

update sprint0.md rebase
  sprint0.md
Owners: none

revert
  sprint0.md
Owners: none

revert
  sprint0.md
Owners: none

fix gitignore
  .gitignore
Owners: none

fix .env
  .gitignore
Owners: none

Create frontend (#2)
  .gitignore
  apps/frontend/.env.example
  apps/frontend/cypress.config.ts
  apps/frontend/cypress/e2e/sample.cy.tsx
  apps/frontend/cypress/fixtures/example.json
  apps/frontend/cypress/support/commands.ts
  apps/frontend/cypress/support/e2e.ts
  apps/frontend/index.html
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/App.spec.tsx
  apps/frontend/src/App.tsx
  apps/frontend/src/main.tsx
  apps/frontend/src/setupTests.ts
  apps/frontend/src/utilities/testing/index.ts
  apps/frontend/src/utilities/testing/render.tsx
  apps/frontend/tsconfig.json
  apps/frontend/vite.config.ts
Owners: @studly/frontend

docs(frontend): add env.example + note for backend URL
  apps/frontend/.env.example
Owners: @studly/frontend

Add studysession components and routing
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/App.spec.tsx
  apps/frontend/src/App.tsx
  apps/frontend/src/components/StudySession/StudySession.spec.tsx
  apps/frontend/src/components/StudySession/StudySession.tsx
  apps/frontend/src/components/StudySession/index.ts
  apps/frontend/src/components/index.ts
  apps/frontend/src/main.tsx
  apps/frontend/src/routes/Study.tsx
  apps/frontend/src/routes/index.ts
Owners: @studly/frontend

Created study session component with basic testing
  apps/frontend/src/components/StudySession/StudySession.spec.tsx
  apps/frontend/src/components/StudySession/StudySession.tsx
  apps/frontend/src/routes/Study.tsx
Owners: @studly/frontend

Added studytips
  apps/frontend/src/components/StudyTips/StudyTips.spec.tsx
  apps/frontend/src/components/StudyTips/StudyTips.tsx
  apps/frontend/src/components/StudyTips/index.ts
Owners: @studly/frontend

studysession component
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/StudySession/StudySession.spec.tsx
  apps/frontend/src/components/StudyTips/StudyTips.spec.tsx
  apps/frontend/vite.config.ts
Owners: @studly/frontend

navbar
  apps/frontend/src/App.tsx
  apps/frontend/src/components/Navbar/Navbar.spec.tsx
  apps/frontend/src/components/Navbar/Navbar.tsx
  apps/frontend/src/components/Navbar/index.ts
  apps/frontend/src/components/index.ts
  apps/frontend/src/routes/Study.tsx
Owners: @studly/frontend

LOGIN SIGNUP AND FORGOT PASSWORD Add login page, sign up page with validation for email checks
  apps/frontend/eslint.config.js
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/assets/landscape-placeholder.svg
  apps/frontend/src/components/ForgotPassword/ForgotPassword.module.css
  apps/frontend/src/components/ForgotPassword/ForgotPassword.tsx
  apps/frontend/src/components/ForgotPassword/index.ts
  apps/frontend/src/components/Login/AuthenticationTitle.module.css
  apps/frontend/src/components/Login/LoginForm.tsx
  apps/frontend/src/components/Login/index.ts
  apps/frontend/src/components/SignUp/AuthenticationTitle.module.css
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/components/SignUp/index.ts
  apps/frontend/src/components/index.ts
  apps/frontend/src/routes/ForgotPassword.tsx
  apps/frontend/src/routes/Login.tsx
  apps/frontend/src/routes/SignUp.tsx
  apps/frontend/src/routes/index.ts
Owners: @studly/frontend

refactor: centralize shared styles and add validat ion utilities
  apps/frontend/src/Styles/AuthenticationTitle.module.css
  apps/frontend/src/Styles/ForgotPassword.module.css
  apps/frontend/src/components/ForgotPassword/ForgotPassword.tsx
  apps/frontend/src/components/Login/LoginForm.tsx
  apps/frontend/src/components/SignUp/AuthenticationTitle.module.css
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/utilities/testing/emailValidation.ts
  apps/frontend/src/utilities/testing/passwordValidation.ts
Owners: @studly/frontend

created the general backend files and folders, and structure.
  apps/backend/README.md
  apps/backend/src/config/supabase.js
  apps/backend/src/controllers/auth.controller.js
  apps/backend/src/controllers/sessions.controller.js
  apps/backend/src/index.js
  apps/backend/src/middleware/auth.middleware.js
  apps/backend/src/routes/auth.routes.js
  apps/backend/src/routes/sessions.routes.js
  apps/backend/src/utils/validator.js
Owners: @studly/backend

adding testing folder for backend
  apps/backend/src/config/supabase.js
  apps/backend/tests/TESTINGPLAN.md
  apps/backend/tests/setup.js
Owners: @studly/backend

updates packages and sett up jest testing
  apps/backend/jest.config.js
  apps/backend/package.json
  apps/backend/tests/InitialBasicTest.js
  apps/backend/tests/setup.js
Owners: @studly/backend

tested navbar
  apps/frontend/src/components/Navbar/Navbar.spec.tsx
Owners: @studly/frontend

CODEOWNERS:

# Map folders to reviewer groups/owners
# Replace @studly/* with real GitHub handles or teams
/apps/frontend/   @studly/frontend
/apps/backend/    @studly/backend
/packages/        @studly/core
/docs/            @studly/docs
