Repository HaMeD1379/Studly, changes with the owners that CODEOWNERS names for each.
All owners: @studly/frontend, @studly/backend, @studly/core, @studly/docs

Create feed.model.js
  apps/backend/src/models/feed.model.js
Owners: @studly/backend

Update feed.model.js
  apps/backend/src/models/feed.model.js
Owners: @studly/backend

Refactor feed model schemas for clarity and new features
  apps/backend/src/models/feed.model.js
Owners: @studly/backend

Create feed.repository.js
  apps/backend/src/repositories/feed.repository.js
Owners: @studly/backend

Add feed service for activity management
  apps/backend/src/services/feed.service.js
Owners: @studly/backend

Create feed.controller.js
  apps/backend/src/controllers/feed.controller.js
Owners: @studly/backend

Add feed routes for activity feed and access checks
  apps/backend/src/routes/v1/feed.routes.js
Owners: @studly/backend

Update index.js
  apps/backend/src/index.js
Owners: @studly/backend

framework
  apps/frontend/src/App.tsx
  apps/frontend/src/api/leaderboard.ts
  apps/frontend/src/components/Navbar/Navbar.tsx
  apps/frontend/src/constants/api.ts
  apps/frontend/src/constants/routes.ts
  apps/frontend/src/constants/strings.ts
  apps/frontend/src/routes/index.ts
  apps/frontend/src/routes/leaderboard/Leaderboard.tsx
  apps/frontend/src/routes/leaderboard/index.ts
  apps/frontend/src/routes/leaderboard/loader.ts
  apps/frontend/src/routes/study/Study.tsx
  apps/frontend/src/types/index.ts
  apps/frontend/src/types/leaderboard.ts
Owners: @studly/frontend

refactor type
  apps/frontend/src/types/leaderboard.ts
Owners: @studly/frontend

add some UI
  apps/frontend/src/components/LeaderboardPage/LeaderboardPage.tsx
  apps/frontend/src/components/index.ts
  apps/frontend/src/constants/strings.ts
  apps/frontend/src/routes/leaderboard/Leaderboard.tsx
  apps/frontend/src/routes/leaderboard/loader.ts
  apps/frontend/src/types/leaderboard.ts
Owners: @studly/frontend

Update schema tools and leaderboard repository
  apps/backend/src/repositories/leaderboard.repository.js
  infra/docker/db/schema-tools/package-lock.json
Owners: @studly/backend

fix(schema-tools): ignore Supabase helper OpenAPI definitions
  infra/docker/db/schema-tools/sync-schema.harness.js
  infra/docker/db/schema-tools/sync-schema.js
Owners: none

Update leaderboard repository and tests
  apps/backend/src/repositories/leaderboard.repository.js
  apps/backend/tests/integration/leaderboard.test.js
  apps/backend/tests/unit/leaderboard.repository.test.js
Owners: @studly/backend

Fix leaderboard repository unit test mocks to match actual query chains
  apps/backend/tests/unit/leaderboard.repository.test.js
Owners: @studly/backend

feat(backend): add schema sync tooling and refactor leaderboard aggregation (#162)
  .github/ISSUE_TEMPLATE/.gitkeep
  .github/workflows/.gitkeep
  .gitignore
  apps/backend/.gitkeep
  apps/backend/src/repositories/leaderboard.repository.js
  apps/backend/tests/integration/leaderboard.test.js
  apps/backend/tests/unit/leaderboard.repository.test.js
  infra/docker/db/schema-tools/package-lock.json
  infra/docker/db/schema-tools/package.json
  infra/docker/db/schema-tools/sync-schema.harness.js
  infra/docker/db/schema-tools/sync-schema.js
  infra/docker/mock/supabase-mock.client.js
Owners: @studly/backend

finished
  apps/frontend/src/App.tsx
  apps/frontend/src/api/index.ts
  apps/frontend/src/api/leaderboard.spec.ts
  apps/frontend/src/api/leaderboard.ts
  apps/frontend/src/api/sessions.spec.ts
  apps/frontend/src/components/LeaderboardPage/LeaderboardPage.spec.tsx
  apps/frontend/src/components/LeaderboardPage/LeaderboardPage.tsx
  apps/frontend/src/components/TodaysStudyStatistics/TodaysStudyStatistics.tsx
  apps/frontend/src/constants/strings.ts
  apps/frontend/src/mocks/api.ts
  apps/frontend/src/mocks/index.ts
  apps/frontend/src/mocks/leaderboard.ts
  apps/frontend/src/routes/badges/loader.ts
  apps/frontend/src/routes/leaderboard/Leaderboard.spec.tsx
  apps/frontend/src/routes/leaderboard/Leaderboard.tsx
  apps/frontend/src/routes/leaderboard/loader.spec.ts
  apps/frontend/src/routes/leaderboard/loader.ts
  apps/frontend/src/types/leaderboard.ts
  apps/frontend/src/utilities/date/format.ts
  apps/frontend/src/utilities/time/format.spec.ts
  apps/frontend/src/utilities/time/format.ts
  apps/frontend/src/utilities/time/index.ts
Owners: @studly/frontend

format & lint
  apps/frontend/src/App.tsx
  apps/frontend/src/api/index.ts
  apps/frontend/src/components/LeaderboardPage/LeaderboardPage.spec.tsx
  apps/frontend/src/components/LeaderboardPage/LeaderboardPage.tsx
  apps/frontend/src/components/index.ts
  apps/frontend/src/constants/strings.ts
  apps/frontend/src/mocks/api.ts
  apps/frontend/src/mocks/index.ts
  apps/frontend/src/mocks/leaderboard.ts
  apps/frontend/src/routes/index.ts
  apps/frontend/src/routes/leaderboard/Leaderboard.spec.tsx
  apps/frontend/src/routes/leaderboard/Leaderboard.tsx
  apps/frontend/src/routes/leaderboard/index.ts
  apps/frontend/src/routes/leaderboard/loader.spec.ts
  apps/frontend/src/routes/leaderboard/loader.ts
  apps/frontend/src/types/index.ts
  apps/frontend/src/types/leaderboard.ts
  apps/frontend/src/utilities/time/format.spec.ts
  apps/frontend/src/utilities/time/format.ts
Owners: @studly/frontend

adjust padding slightly
  apps/frontend/src/components/LeaderboardPage/LeaderboardPage.tsx
Owners: @studly/frontend

friends page layout + API stuff for profile
  apps/frontend/src/App.tsx
  apps/frontend/src/components/Avatar/Avatar.spec.tsx
  apps/frontend/src/components/Avatar/Avatar.tsx
  apps/frontend/src/components/FriendsHeader/FriendsHeader.spec.tsx
  apps/frontend/src/components/FriendsHeader/FriendsHeader.tsx
  apps/frontend/src/components/FriendsStatus/FriendsStatus.spec.tsx
  apps/frontend/src/components/FriendsStatus/FriendsStatus.tsx
  apps/frontend/src/components/Login/Login.spec.tsx
  apps/frontend/src/components/Navbar/Navbar.spec.tsx
  apps/frontend/src/components/Navbar/Navbar.tsx
  apps/frontend/src/components/ProfileCards/ProfileCard.spec.tsx
  apps/frontend/src/components/ProfileCards/ProfileCard.tsx
  apps/frontend/src/components/ProfileStatistics/ProfileStatistics.spec.tsx
  apps/frontend/src/components/ProfileStatistics/ProfileStatistics.tsx
  apps/frontend/src/components/UserCard/UserCard.spec.tsx
  apps/frontend/src/components/UserCard/UserCard.tsx
  apps/frontend/src/components/index.ts
  apps/frontend/src/constants/routes.ts
  apps/frontend/src/constants/strings.ts
  apps/frontend/src/routes/friends/Friends.tsx
  apps/frontend/src/routes/friends/index.ts
  apps/frontend/src/routes/index.ts
  apps/frontend/src/routes/login/action.spec.ts
  apps/frontend/src/routes/login/action.ts
  apps/frontend/src/routes/profile/loader.spec.tsx
  apps/frontend/src/routes/profile/loader.ts
  apps/frontend/src/store/profileInfo.spec.tsx
  apps/frontend/src/store/profileInfo.tsx
  apps/frontend/src/store/userInfo.spec.tsx
  apps/frontend/src/store/userInfo.ts
  apps/frontend/src/types/store.ts
  apps/frontend/src/utilities/date/format.spec.ts
  apps/frontend/src/utilities/date/format.ts
  apps/frontend/src/utilities/profileStatistics/calculateHistoryStatistics.spec.tsx
  apps/frontend/src/utilities/profileStatistics/calculateHistoryStatistics.tsx
  apps/frontend/src/utilities/profileStatistics/calculateWeeklyStatistics.tsx
Owners: @studly/frontend

profile constants file
  apps/frontend/src/constants/profile.ts
Owners: @studly/frontend

use api data for prfile page
  apps/frontend/src/api/sessions.ts
  apps/frontend/src/components/ProfileCards/ProfileCard.tsx
  apps/frontend/src/components/ProfileStatistics/ProfileStatistics.tsx
  apps/frontend/src/routes/profile/loader.ts
  apps/frontend/src/store/index.ts
  apps/frontend/src/store/profileInfo.ts
  apps/frontend/src/store/userBadges.ts
  apps/frontend/src/types/profile.ts
  apps/frontend/src/types/store.ts
  apps/frontend/src/types/studySession.ts
  apps/frontend/src/utilities/profileStatistics/index.ts
  apps/frontend/src/utilities/profileStatistics/randomColor.tsx
  apps/frontend/src/utilities/profileStatistics/sortBadgesByDate.tsx
Owners: @studly/frontend

ADD: friends API
  apps/backend/src/config/strings.config.js
  apps/backend/src/controllers/auth.controller.js
  apps/backend/src/controllers/friends.controller.js
  apps/backend/src/controllers/profile.controller.js
  apps/backend/src/index.js
  apps/backend/src/middleware/profile.validation.middleware.js
  apps/backend/src/routes/v1/friends.routes.js
  apps/backend/src/routes/v1/profile.routes.js
  apps/backend/tests/integration/auth.controller.test.js
  apps/backend/tests/integration/friends.test.js
  apps/backend/tests/integration/profile.test.js
  infra/docker/db/init/01_schema.sql
Owners: @studly/backend

FIX: removed unused vars
  apps/backend/tests/integration/auth.controller.test.js
Owners: @studly/backend

FIX: biome errors
  apps/backend/src/controllers/friends.controller.js
Owners: @studly/backend

docs: add comprehensive README for cli-frontend with quick start guide
  apps/cli-frontend/.env.example
  apps/cli-frontend/QUICK-START.js
  apps/cli-frontend/README.md
  apps/cli-frontend/ascii-logo.txt
  apps/cli-frontend/src/commands/create-account-interactive.command.ts
  apps/cli-frontend/src/commands/create-account.command.ts
  apps/cli-frontend/src/commands/create-session-interactive.command.ts
  apps/cli-frontend/src/commands/create-session.command.ts
  apps/cli-frontend/src/commands/get-session-summary.command.ts
  apps/cli-frontend/src/commands/login-interactive.command.ts
  apps/cli-frontend/src/commands/login.command.ts
  apps/cli-frontend/src/commands/logout.command.ts
  apps/cli-frontend/src/utils/animated-logo.utils.ts
  apps/cli-frontend/src/utils/api.client.ts
  apps/cli-frontend/src/utils/config.utils.ts
  apps/cli-frontend/src/utils/screen-advanced.utils.ts
  apps/cli-frontend/src/utils/screen.utils.ts
  apps/cli-frontend/src/utils/session.storage.ts
  apps/cli-frontend/studly.bat
  apps/cli-frontend/studly.sh
Owners: none

refactor: update cli-frontend commands, utils, and add backend test utilities
  .gitignore
  apps/backend/.env.example
  apps/backend/mylocaltests/FIX-SUMMARY.md
  apps/backend/mylocaltests/QUICK-START.md
  apps/backend/mylocaltests/README.md
  apps/backend/mylocaltests/find-test-user.js
  apps/backend/mylocaltests/smoke-test.js
  apps/backend/mylocaltests/test-database-connection.js
  apps/backend/mylocaltests/test-leaderboard-direct.js
  apps/backend/mylocaltests/test-leaderboard-endpoint.js
  apps/backend/mylocaltests/test-leaderboard-service.js
  apps/cli-frontend/QUICK-START.js
  apps/cli-frontend/package-lock.json
  apps/cli-frontend/package.json
  apps/cli-frontend/src/commands/create-account-interactive.command.ts
  apps/cli-frontend/src/commands/create-account.command.ts
  apps/cli-frontend/src/commands/create-session-interactive.command.ts
  apps/cli-frontend/src/commands/create-session.command.ts
  apps/cli-frontend/src/commands/createAccount.ts
  apps/cli-frontend/src/commands/createSession.ts
  apps/cli-frontend/src/commands/get-session-summary.command.ts
  apps/cli-frontend/src/commands/getSessionSummary.ts
  apps/cli-frontend/src/commands/login-interactive.command.ts
  apps/cli-frontend/src/commands/login.command.ts
  apps/cli-frontend/src/commands/login.ts
  apps/cli-frontend/src/commands/logout.command.ts
  apps/cli-frontend/src/index.ts
  apps/cli-frontend/src/utils/animated-logo.utils.ts
  apps/cli-frontend/src/utils/api.client.ts
  apps/cli-frontend/src/utils/config.utils.ts
  apps/cli-frontend/src/utils/screen-advanced.utils.ts
  apps/cli-frontend/src/utils/screen.utils.ts
  apps/cli-frontend/src/utils/session.storage.ts
  apps/cli-frontend/studly.bat
  apps/cli-frontend/studly.sh
  apps/cli-frontend/tsconfig.json
Owners: @studly/backend

Remove apps/backend/mylocaltests from tracking and update .gitignore
  .gitignore
  apps/backend/mylocaltests/FIX-SUMMARY.md
  apps/backend/mylocaltests/QUICK-START.md
  apps/backend/mylocaltests/README.md
  apps/backend/mylocaltests/find-test-user.js
  apps/backend/mylocaltests/smoke-test.js
  apps/backend/mylocaltests/test-database-connection.js
  apps/backend/mylocaltests/test-leaderboard-direct.js
  apps/backend/mylocaltests/test-leaderboard-endpoint.js
  apps/backend/mylocaltests/test-leaderboard-service.js
Owners: @studly/backend

ADD: friends contract
  api-contracts/friends.api.contract.md
Owners: none

fetch data from profile API
  apps/frontend/src/App.tsx
  apps/frontend/src/api/sessions.ts
  apps/frontend/src/components/FriendsHeader/FriendsHeader.spec.tsx
  apps/frontend/src/components/FriendsHeader/FriendsHeader.tsx
  apps/frontend/src/components/FriendsStatus/FriendsStatus.tsx
  apps/frontend/src/components/Navbar/Navbar.tsx
  apps/frontend/src/components/ProfileCards/ProfileCard.spec.tsx
  apps/frontend/src/components/ProfileCards/ProfileCard.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.spec.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.tsx
  apps/frontend/src/components/ProfileStatistics/ProfileStatistics.spec.tsx
  apps/frontend/src/components/ProfileStatistics/ProfileStatistics.tsx
  apps/frontend/src/components/SettingsTabBar/SettingsTabBar.tsx
  apps/frontend/src/components/UserCard/UserCard.spec.tsx
  apps/frontend/src/components/UserCard/UserCard.tsx
  apps/frontend/src/constants/friends.tsx
  apps/frontend/src/constants/index.ts
  apps/frontend/src/constants/profile.ts
  apps/frontend/src/constants/settings.ts
  apps/frontend/src/constants/strings.ts
  apps/frontend/src/routes/badges/Badges.tsx
  apps/frontend/src/routes/profile/Profile.spec.tsx
  apps/frontend/src/routes/profile/loader.spec.tsx
  apps/frontend/src/routes/profile/loader.ts
  apps/frontend/src/store/index.ts
  apps/frontend/src/store/userBadges.ts
  apps/frontend/src/types/profile.ts
  apps/frontend/src/types/store.ts
  apps/frontend/src/types/studySession.ts
  apps/frontend/src/utilities/profileStatistics/calculateHistoryStatistics.tsx
  apps/frontend/src/utilities/profileStatistics/calculateWeeklyStatistics.tsx
  apps/frontend/src/utilities/profileStatistics/index.ts
  apps/frontend/src/utilities/profileStatistics/randomColor.spec.tsx
  apps/frontend/src/utilities/profileStatistics/randomColor.tsx
  apps/frontend/src/utilities/profileStatistics/sortBadgesByDate.spec.tsx
  apps/frontend/src/utilities/profileStatistics/sortBadgesByDate.tsx
  apps/frontend/src/utilities/time/format.spec.ts
  apps/frontend/src/utilities/time/format.ts
Owners: @studly/frontend

update the session API call for weekly sessions to use local time
  apps/frontend/src/api/sessions.ts
  apps/frontend/src/utilities/time/format.ts
Owners: @studly/frontend

ADD: friends API (#165)
  api-contracts/friends.api.contract.md
  apps/backend/src/config/strings.config.js
  apps/backend/src/controllers/auth.controller.js
  apps/backend/src/controllers/friends.controller.js
  apps/backend/src/controllers/profile.controller.js
  apps/backend/src/index.js
  apps/backend/src/middleware/profile.validation.middleware.js
  apps/backend/src/routes/v1/friends.routes.js
  apps/backend/src/routes/v1/profile.routes.js
  apps/backend/tests/integration/auth.controller.test.js
  apps/backend/tests/integration/friends.test.js
  apps/backend/tests/integration/profile.test.js
  infra/docker/db/init/01_schema.sql
Owners: @studly/backend

init
  .gitignore
  apps/frontend/cypress.env.example.json
  apps/frontend/cypress/e2e/study/studySession.cy.tsx
  apps/frontend/cypress/support/commands.ts
Owners: @studly/frontend

ADD: friends API (#165)
  api-contracts/friends.api.contract.md
  apps/backend/src/config/strings.config.js
  apps/backend/src/controllers/auth.controller.js
  apps/backend/src/controllers/friends.controller.js
  apps/backend/src/controllers/profile.controller.js
  apps/backend/src/index.js
  apps/backend/src/middleware/profile.validation.middleware.js
  apps/backend/src/repositories/leaderboard.repository.js
  apps/backend/src/routes/v1/friends.routes.js
  apps/backend/src/routes/v1/profile.routes.js
  apps/backend/src/services/leaderboard.service.js
  apps/backend/tests/integration/auth.controller.test.js
  apps/backend/tests/integration/friends.test.js
  apps/backend/tests/integration/profile.test.js
  apps/backend/tests/unit/leaderboard.service.test.js
  infra/docker/db/init/01_schema.sql
Owners: @studly/backend

fix: Use full_name instead of bio for leaderboard displayName (#168)
  apps/backend/src/repositories/leaderboard.repository.js
  apps/backend/src/services/leaderboard.service.js
  apps/backend/tests/integration/leaderboard.test.js
  apps/backend/tests/unit/leaderboard.service.test.js
Owners: @studly/backend

feat: add CLI frontend application with interactive commands (#169)
  apps/cli-frontend/.env.example
  apps/cli-frontend/README.md
  apps/cli-frontend/package-lock.json
  apps/cli-frontend/package.json
  apps/cli-frontend/src/commands/create-account-interactive.command.ts
  apps/cli-frontend/src/commands/create-account.command.ts
  apps/cli-frontend/src/commands/create-session-interactive.command.ts
  apps/cli-frontend/src/commands/create-session.command.ts
  apps/cli-frontend/src/commands/end-session-interactive.command.ts
  apps/cli-frontend/src/commands/get-session-summary.command.ts
  apps/cli-frontend/src/commands/list-sessions-interactive.command.ts
  apps/cli-frontend/src/commands/login-interactive.command.ts
  apps/cli-frontend/src/commands/login.command.ts
  apps/cli-frontend/src/commands/logout.command.ts
  apps/cli-frontend/src/index.ts
  apps/cli-frontend/src/utils/animated-logo.utils.ts
  apps/cli-frontend/src/utils/api.client.ts
  apps/cli-frontend/src/utils/config.utils.ts
  apps/cli-frontend/src/utils/progress-bar.utils.ts
  apps/cli-frontend/src/utils/screen-advanced.utils.ts
  apps/cli-frontend/src/utils/screen.utils.ts
  apps/cli-frontend/src/utils/session.storage.ts
  apps/cli-frontend/src/utils/table-formatter.utils.ts
  apps/cli-frontend/studly.bat
  apps/cli-frontend/studly.sh
  apps/cli-frontend/tsconfig.json
Owners: none

add e2e
  apps/frontend/cypress.config.ts
  apps/frontend/cypress.env.example.json
  apps/frontend/cypress/e2e/badges.cy.ts
  apps/frontend/cypress/e2e/leaderboard.cy.ts
  apps/frontend/cypress/e2e/navbar.cy.ts
  apps/frontend/cypress/e2e/navbar.cy.tsx
  apps/frontend/cypress/e2e/study/setupStudySession.cy.tsx
  apps/frontend/cypress/e2e/study/studySession.cy.tsx
  apps/frontend/cypress/e2e/studySession.cy.ts
  apps/frontend/cypress/support/commands.ts
Owners: @studly/frontend

add to ci
  .github/workflows/ci.yml
  apps/frontend/cypress.env.example.json
  apps/frontend/cypress/support/commands.ts
Owners: @studly/frontend

format
  apps/frontend/cypress/e2e/badges.cy.ts
  apps/frontend/cypress/e2e/leaderboard.cy.ts
  apps/frontend/cypress/e2e/studySession.cy.ts
  apps/frontend/cypress/support/commands.ts
Owners: @studly/frontend

forgot npx
  .github/workflows/ci.yml
Owners: none

CODEOWNERS:

# Map folders to reviewer groups/owners
# Replace @studly/* with real GitHub handles or teams
/apps/frontend/   @studly/frontend
/apps/backend/    @studly/backend
/packages/        @studly/core
/docs/            @studly/docs
