Repository HaMeD1379/Studly, changes with the owners that CODEOWNERS names for each.
All owners: @studly/frontend, @studly/backend, @studly/core, @studly/docs

Removed duplicate files Removed duplicate files on the backend
  apps/backend/jest.config 2.js
  apps/backend/src/index 2.js
  apps/backend/tests/InitialBasicTest 2.js
  apps/backend/tests/TESTINGPLAN 2.md
  apps/backend/tests/setup 2.js
  apps/backend/tests/smoke.test 2.js
Owners: @studly/backend

Component testing (#92)
  apps/frontend/src/App.tsx
  apps/frontend/src/Styles/AuthenticationTitle.module.css
  apps/frontend/src/Styles/ForgotPassword.module.css
  apps/frontend/src/components/ForgotPassword/ForgotPassword.spec.tsx
  apps/frontend/src/components/ForgotPassword/ForgotPassword.tsx
  apps/frontend/src/components/Login/LoginForm.spec.tsx
  apps/frontend/src/components/Login/LoginForm.tsx
  apps/frontend/src/components/SignUp/SignUp.spec.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/utilities/testing/emailValidation.spec.ts
  apps/frontend/src/utilities/testing/passwordValidation.spec.tsx
  apps/frontend/src/utilities/testing/passwordValidation.ts
Owners: @studly/frontend

login form ui -updated the login form component to adjust the width of the box surrounding the container to remove white box beneath the page
  apps/frontend/src/components/Login/LoginForm.tsx
Owners: @studly/frontend

login form ui (#97)
  apps/frontend/src/components/Login/LoginForm.tsx
Owners: @studly/frontend

feat: integrate supabase auth flows
  apps/backend/package.json
  apps/backend/src/config/strings.js
  apps/backend/src/config/supabase.js
  apps/backend/src/controllers/auth.controller.js
  apps/backend/src/index.js
  apps/backend/src/middleware/validateInput.js
  apps/backend/src/routes/auth.routes.js
  apps/backend/src/routes/sessions.routes.js
  apps/backend/src/routes/v1/authentication.routes.js
  apps/backend/src/routes/v1/sessions.routes.js
  apps/backend/src/utils/serverUtils.js
  apps/backend/tests/integration/auth.api.test.js
  apps/backend/tests/integration/authController.test.js
  apps/backend/tests/integration/sessions.api.test.js
  apps/backend/tests/unit/serverUtils.test.js
  apps/backend/tests/unit/supabaseClient.test.js
  apps/backend/tests/unit/validateInput.test.js
Owners: @studly/backend

Refactor backend tests to use native runner
  apps/backend/package.json
  apps/backend/src/index.js
  apps/backend/tests/integration/authController.test.js
  apps/backend/tests/unit/serverUtils.test.js
  apps/backend/tests/unit/supabaseClient.test.js
  apps/backend/tests/unit/validateInput.test.js
Owners: @studly/backend

Fix node:test runner invocation
  apps/backend/package.json
  apps/backend/tests/InitialBasicTest.js
Owners: @studly/backend

feat: align sessions API with frontend contract
  apps/backend/src/controllers/sessions.controller.js
  apps/backend/src/routes/v1/sessions.routes.js
  apps/backend/src/services/sessions.service.js
  apps/backend/tests/integration/sessions.test.js
  apps/backend/tests/unit/sessions.controller.test.js
  apps/backend/tests/unit/sessions.service.test.js
Owners: @studly/backend

chore(backend): restore jest test runner with coverage
  apps/backend/jest.config.js
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/tests/support/jestNodeTestShim.js
Owners: @studly/backend

chore(backend): add bespoke coverage runner
  apps/backend/package.json
  apps/backend/tests/support/jestNodeTestShim.js
  apps/backend/tests/support/runJestLite.js
Owners: @studly/backend

fix(backend): normalize coverage paths on windows
  apps/backend/tests/support/runJestLite.js
Owners: @studly/backend

Create sprint1
  worksheets/sprint1
Owners: none

Delete worksheets/sprint1
  worksheets/sprint1
Owners: none

Create Sprint 1 Worksheet with testing details
  worksheets/sprint1/spring1worksheet.md
Owners: none

Add readme for sprint 1 images directory
  worksheets/sprint1/sprint1images/readme.md
Owners: none

Added in the testing plan worksheet
  worksheets/sprint1/testingPlan.md
Owners: none

Update spring1worksheet.md
  worksheets/sprint1/spring1worksheet.md
Owners: none

Update and rename spring1worksheet.md to sprint1worksheet.md
  worksheets/sprint1/sprint1worksheet.md
Owners: none

Delete worksheets/sprint1/sprint1images directory
  worksheets/sprint1/sprint1images/readme.md
Owners: none

Remove Sprint 1 Quick Checklist section
  worksheets/sprint1/sprint1worksheet.md
Owners: none

Add link to Sprint 1 worksheet in README
  README.md
Owners: none

Update note on acceptance tests in sprint1worksheet.md
  worksheets/sprint1/sprint1worksheet.md
Owners: none

Update testingPlan.md
  worksheets/sprint1/testingPlan.md
Owners: none

Update sprint1worksheet.md
  worksheets/sprint1/sprint1worksheet.md
Owners: none

Update sprint1worksheet.md
  worksheets/sprint1/sprint1worksheet.md
Owners: none

Update README.md
  README.md
Owners: none

Update sprint1worksheet.md
  worksheets/sprint1/sprint1worksheet.md
Owners: none

Shikam l patch 1 (#102)
  README.md
  worksheets/sprint1/sprint1worksheet.md
Owners: none

Add Badges route to the navbar
  apps/frontend/src/App.tsx
  apps/frontend/src/components/Navbar/Navbar.spec.tsx
  apps/frontend/src/components/Navbar/Navbar.tsx
  apps/frontend/src/routes/Badges.tsx
  apps/frontend/src/routes/index.ts
Owners: @studly/frontend

BadgeStatistics component
  apps/frontend/src/components/BadgeStatistics/BadgeStatistics.spec.tsx
  apps/frontend/src/components/BadgeStatistics/BadgeStatistics.tsx
  apps/frontend/src/components/BadgeStatistics/index.ts
  apps/frontend/src/components/ForgotPassword/ForgotPassword.tsx
  apps/frontend/src/components/Login/LoginForm.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/routes/Badges.tsx
  apps/frontend/src/utilities/validation/emailValidation.spec.ts
  apps/frontend/src/utilities/validation/emailValidation.ts
  apps/frontend/src/utilities/validation/index.ts
  apps/frontend/src/utilities/validation/passwordValidation.spec.tsx
  apps/frontend/src/utilities/validation/passwordValidation.ts
Owners: @studly/frontend

fix e2e tests
  apps/frontend/cypress/e2e/navbar.cy.tsx
  apps/frontend/cypress/e2e/study/studySession.cy.tsx
Owners: @studly/frontend

Reduces technical debt and adds the userProfile component
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/components/LoginForm/LoginForm.spec.tsx
  apps/frontend/src/components/LoginForm/LoginForm.tsx
  apps/frontend/src/components/LoginForm/index.ts
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/components/UserProfile/UserProfile.tsx
  apps/frontend/src/components/UserProfile/index.ts
  apps/frontend/src/components/index.ts
  apps/frontend/src/routes/UserProfile.tsx
  apps/frontend/src/routes/index.ts
  apps/frontend/src/utilities/testing/Avatar.tsx
  apps/frontend/src/utilities/testing/displayNotifications.spec.tsx
  apps/frontend/src/utilities/testing/displayNotifications.ts
  apps/frontend/src/utilities/testing/emailValidation.ts
  apps/frontend/src/utilities/testing/passwordValidation.ts
Owners: @studly/frontend

Refactors emailValidation to reduce technical debt -Refactor emailValidation.ts to follow Open/Closed principle
  apps/frontend/src/utilities/testing/emailValidation.ts
Owners: @studly/frontend

Connects login and sign up to API - hooks up login and sign up to supabase authentication API
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/components/ForgotPassword/ForgotPassword.spec.tsx
  apps/frontend/src/components/ForgotPassword/ForgotPassword.tsx
  apps/frontend/src/components/LoginForm/LoginForm.spec.tsx
  apps/frontend/src/components/LoginForm/LoginForm.tsx
  apps/frontend/src/components/Navbar/Navbar.tsx
  apps/frontend/src/components/SignUp/SignUp.spec.tsx
  apps/frontend/src/components/UpdatePassword/UpdatePassword.spec.tsx
  apps/frontend/src/components/UpdatePassword/UpdatePassword.tsx
  apps/frontend/src/components/UpdatePassword/index.ts
  apps/frontend/src/components/index.ts
  apps/frontend/src/routes/UpdatePassword.tsx
  apps/frontend/src/routes/index.ts
  apps/frontend/src/utilities/testing/SupabaseClient.ts
  apps/frontend/src/utilities/testing/auth.spec.tsx
  apps/frontend/src/utilities/testing/auth.ts
  apps/frontend/src/utilities/testing/passwordValidation.spec.tsx
Owners: @studly/frontend

Tests for Supabase Authentication wrapper class
  apps/frontend/src/utilities/testing/auth.spec.tsx
Owners: @studly/frontend

adding the appropriate files for the badge api, as well as the new models folder
  apps/backend/src/controllers/badges.controller.js
  apps/backend/src/middleware/badge.validation.middleware.js
  apps/backend/src/models/badges.model.js
  apps/backend/src/repositories/badges.repository.js
  apps/backend/src/routes/v1/badges.routes.js
  apps/backend/src/services/badges.service.js
Owners: @studly/backend

chore: add linting toolchain and secrets to ci
  .github/workflows/ci.yml
  apps/backend/package.json
  apps/frontend/eslint.config.js
  apps/frontend/package.json
Owners: @studly/backend, @studly/frontend

Refine lint configuration for frontend and backend
  apps/backend/package.json
  apps/frontend/eslint.config.js
  apps/frontend/package.json
Owners: @studly/backend, @studly/frontend

Relax frontend lint config and fix React typings
  apps/frontend/eslint.config.js
  apps/frontend/src/components/Navbar/Navbar.tsx
  apps/frontend/src/utilities/testing/render.tsx
Owners: @studly/frontend

Remove frontend header comments
  apps/frontend/eslint.config.js
  apps/frontend/src/components/Navbar/Navbar.tsx
  apps/frontend/src/utilities/testing/render.tsx
Owners: @studly/frontend

CODEOWNERS:

# Map folders to reviewer groups/owners
# Replace @studly/* with real GitHub handles or teams
/apps/frontend/   @studly/frontend
/apps/backend/    @studly/backend
/packages/        @studly/core
/docs/            @studly/docs
