Repository HaMeD1379/Studly, changes with the owners that CODEOWNERS names for each.
All owners: @studly/frontend, @studly/backend, @studly/core, @studly/docs

Adjust lint scripts to install tooling on demand
  apps/backend/package.json
  apps/frontend/package.json
Owners: @studly/backend, @studly/frontend

Tighten frontend lint config and fix reported violations
  apps/frontend/eslint.config.js
  apps/frontend/src/components/Login/LoginForm.tsx
  apps/frontend/src/components/RecentStudySessions/RecentStudySessions.spec.tsx
  apps/frontend/src/components/SetupStudySession/SetupStudySession.tsx
  apps/frontend/src/components/StudySession/StudySession.spec.tsx
  apps/frontend/src/components/TodaysStudyStatistics/TodaysStudyStatistics.spec.tsx
  apps/frontend/src/setupTests.ts
Owners: @studly/frontend

Silence unused parameter lint warnings in setup study session
  apps/frontend/src/components/SetupStudySession/SetupStudySession.tsx
Owners: @studly/frontend

Fix SetupStudySession callback typings
  apps/frontend/src/components/SetupStudySession/SetupStudySession.tsx
Owners: @studly/frontend

Use Dispatch types for study session callbacks
  apps/frontend/src/components/SetupStudySession/SetupStudySession.tsx
Owners: @studly/frontend

Fix Biome format commands and SetupStudySession import
  apps/backend/package.json
  apps/frontend/package.json
  apps/frontend/src/components/SetupStudySession/SetupStudySession.tsx
Owners: @studly/backend, @studly/frontend

Fix Biome format check flags
  apps/backend/package.json
  apps/frontend/package.json
Owners: @studly/backend, @studly/frontend

Align Biome scripts with CI requirements
  apps/backend/package.json
  apps/frontend/package.json
Owners: @studly/backend, @studly/frontend

Configure root lint and format tooling
  .biome.jsonc
  .github/workflows/ci.yml
  eslint.config.js
  package.json
Owners: none

Update root tooling configuration
  package-lock.json
  package.json
  vercel.json
Owners: none

chore: add linting and formatting automation
  .github/workflows/ci.yml
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/middleware/validateInput.js
  apps/backend/tests/integration/sessions.test.js
  apps/backend/tests/unit/sessions.service.test.js
  apps/frontend/eslint.config.js
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/Login/LoginForm.tsx
  apps/frontend/src/components/RecentStudySessions/RecentStudySessions.spec.tsx
  apps/frontend/src/components/RecentStudySessions/RecentStudySessions.tsx
  apps/frontend/src/components/SetupStudySession/SetupStudySession.tsx
  apps/frontend/src/components/StudySession/StudySession.spec.tsx
  apps/frontend/src/components/StudySession/StudySession.tsx
  apps/frontend/src/components/TodaysStudyStatistics/TodaysStudyStatistics.spec.tsx
  apps/frontend/src/components/TodaysStudyStatistics/TodaysStudyStatistics.tsx
  apps/frontend/src/mocks/studySessionMocks.ts
Owners: @studly/backend, @studly/frontend

BadgeCollection component
  apps/frontend/src/components/BadgeCollection/BadgeCollection.spec.tsx
  apps/frontend/src/components/BadgeCollection/BadgeCollection.tsx
  apps/frontend/src/components/BadgeCollection/index.ts
  apps/frontend/src/components/SetupStudySession/SetupStudySession.tsx
  apps/frontend/src/components/index.ts
  apps/frontend/src/constants/badges.ts
  apps/frontend/src/constants/index.ts
  apps/frontend/src/constants/study.ts
  apps/frontend/src/mocks/badges.ts
  apps/frontend/src/mocks/index.ts
  apps/frontend/src/mocks/studySession.ts
  apps/frontend/src/routes/Badges.tsx
  apps/frontend/src/types/badges.ts
  apps/frontend/src/types/index.ts
  apps/frontend/src/types/studySession.ts
  apps/frontend/src/utilities/date/format.ts
  apps/frontend/src/utilities/date/index.ts
Owners: @studly/frontend

fix e2e test
  apps/frontend/cypress/e2e/study/setupStudySession.cy.tsx
Owners: @studly/frontend

add utils tests
  apps/frontend/src/mocks/badges.ts
  apps/frontend/src/utilities/date/format.spec.ts
  apps/frontend/src/utilities/date/format.ts
Owners: @studly/frontend

Resolving merge conflicts and refactoring -Refactoring to follow naming standards
  apps/frontend/src/components/ForgotPassword/ForgotPassword.tsx
  apps/frontend/src/components/LoginForm/LoginForm.spec.tsx
  apps/frontend/src/components/LoginForm/LoginForm.tsx
  apps/frontend/src/components/Navbar/Navbar.tsx
  apps/frontend/src/components/SignUp/SignUp.spec.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/components/UpdatePassword/UpdatePassword.tsx
  apps/frontend/src/components/UserProfile/UserProfile.tsx
  apps/frontend/src/utilities/authentication/SupabaseClient.ts
  apps/frontend/src/utilities/authentication/auth.spec.tsx
  apps/frontend/src/utilities/authentication/auth.ts
  apps/frontend/src/utilities/authentication/index.ts
  apps/frontend/src/utilities/avatar/avatar.tsx
  apps/frontend/src/utilities/avatar/index.ts
  apps/frontend/src/utilities/notifications/displayNotifications.spec.tsx
  apps/frontend/src/utilities/notifications/displayNotifications.ts
  apps/frontend/src/utilities/notifications/index.ts
  apps/frontend/src/utilities/testing/passwordValidation.ts
  apps/frontend/src/utilities/validation/emailValidation.ts
Owners: @studly/frontend

Expose Vite Supabase secrets in frontend CI job
  .github/workflows/ci.yml
Owners: none

Merge conflict with the file ''apps/frontend/src/mocks/studySessionMocks.ts'' is fixed.
  apps/frontend/src/mocks/studySession.ts
Owners: @studly/frontend

Delete apps/frontend/src/mocks/studySessionMocks.ts
  apps/frontend/src/mocks/studySessionMocks.ts
Owners: @studly/frontend

Update modification date in CI workflow file
  .github/workflows/ci.yml
Owners: none

Refactoring to solve merge conflicts and follow co ding conventions
  apps/frontend/src/components/LoginForm/LoginForm.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/components/UpdatePassword/UpdatePassword.spec.tsx
  apps/frontend/src/components/UpdatePassword/UpdatePassword.tsx
  apps/frontend/src/utilities/authentication/auth.spec.tsx
  apps/frontend/src/utilities/authentication/auth.ts
  apps/frontend/src/utilities/notifications/displayNotifications.spec.tsx
  apps/frontend/src/utilities/notifications/displayNotifications.ts
  apps/frontend/src/utilities/validation/passwordValidation.spec.tsx
Owners: @studly/frontend

Refactoring to solve merge conflicts and follow coding conventions
  apps/frontend/src/utilities/authentication/auth.spec.tsx
Owners: @studly/frontend

Refactoring to solve merge conflicts and follow coding conventions
  apps/frontend/src/components/LoginForm/LoginForm.spec.tsx
  apps/frontend/src/components/LoginForm/LoginForm.tsx
  apps/frontend/src/components/SignUp/SignUp.spec.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/components/UpdatePassword/UpdatePassword.spec.tsx
  apps/frontend/src/components/UpdatePassword/UpdatePassword.tsx
  apps/frontend/src/routes/UpdatePassword.tsx
  apps/frontend/src/utilities/authentication/SupabaseClient.ts
  apps/frontend/src/utilities/avatar/avatar.tsx
Owners: @studly/frontend

Refactoring to solve merge conflicts and follow coding conventions
  apps/frontend/src/components/LoginForm/LoginForm.tsx
  apps/frontend/src/components/UpdatePassword/UpdatePassword.tsx
Owners: @studly/frontend

Refactoring to solve merge conflicts and follow coding conventions
  apps/frontend/src/utilities/authentication/SupabaseClient.ts
Owners: @studly/frontend

Refactoring to solve merge conflicts and follow coding conventions
  apps/frontend/src/utilities/authentication/SupabaseClient.ts
Owners: @studly/frontend

fixed issues with end to end testing -made changes to navbar.tsx to update filled field to be transparent as per e2e tests
  apps/frontend/src/components/Navbar/Navbar.tsx
Owners: @studly/frontend

Reduces technical debt and adds the userProfile (#108)
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/components/ForgotPassword/ForgotPassword.spec.tsx
  apps/frontend/src/components/ForgotPassword/ForgotPassword.tsx
  apps/frontend/src/components/Login/LoginForm.spec.tsx
  apps/frontend/src/components/Login/LoginForm.tsx
  apps/frontend/src/components/LoginForm/LoginForm.spec.tsx
  apps/frontend/src/components/LoginForm/LoginForm.tsx
  apps/frontend/src/components/LoginForm/index.ts
  apps/frontend/src/components/Navbar/Navbar.tsx
  apps/frontend/src/components/SignUp/SignUp.spec.tsx
  apps/frontend/src/components/UpdatePassword/UpdatePassword.spec.tsx
  apps/frontend/src/components/UpdatePassword/UpdatePassword.tsx
  apps/frontend/src/components/UpdatePassword/index.ts
  apps/frontend/src/components/UserProfile/UserProfile.tsx
  apps/frontend/src/components/UserProfile/index.ts
  apps/frontend/src/components/index.ts
  apps/frontend/src/routes/UpdatePassword.tsx
  apps/frontend/src/routes/UserProfile.tsx
  apps/frontend/src/routes/index.ts
  apps/frontend/src/utilities/authentication/SupabaseClient.ts
  apps/frontend/src/utilities/authentication/auth.spec.tsx
  apps/frontend/src/utilities/authentication/auth.ts
  apps/frontend/src/utilities/authentication/index.ts
  apps/frontend/src/utilities/avatar/avatar.tsx
  apps/frontend/src/utilities/avatar/index.ts
  apps/frontend/src/utilities/notifications/displayNotifications.spec.tsx
  apps/frontend/src/utilities/notifications/displayNotifications.ts
  apps/frontend/src/utilities/notifications/index.ts
  apps/frontend/src/utilities/testing/passwordValidation.ts
  apps/frontend/src/utilities/validation/emailValidation.ts
  apps/frontend/src/utilities/validation/passwordValidation.spec.tsx
Owners: @studly/frontend

Creates the Avatar Component:
  apps/frontend/src/components/Avatar/Avatar.tsx
  apps/frontend/src/components/Avatar/index.ts
  apps/frontend/src/components/UserProfile/UserProfile.tsx
  apps/frontend/src/components/index.ts
Owners: @studly/frontend

feat: add internal api token guard
  apps/backend/src/index.js
  apps/backend/src/middleware/auth.middleware.js
  apps/backend/src/middleware/internalApiKey.js
  apps/backend/tests/unit/internalApiKey.test.js
Owners: @studly/backend

feat: add internal api token guard (#115)
  apps/backend/src/index.js
  apps/backend/src/middleware/auth.middleware.js
  apps/backend/src/middleware/internalApiKey.js
  apps/backend/tests/unit/internalApiKey.test.js
Owners: @studly/backend

fix import issues for avatar component
  apps/frontend/src/components/Avatar/index.ts
  apps/frontend/src/components/UserProfile/UserProfile.tsx
Owners: @studly/frontend

api frontend setup
  .gitignore
  apps/frontend/.env.example
  apps/frontend/src/App.tsx
  apps/frontend/src/api/auth.ts
  apps/frontend/src/api/index.ts
  apps/frontend/src/components/RecentStudySessions/RecentStudySessions.tsx
  apps/frontend/src/config/api.ts
  apps/frontend/src/config/index.ts
  apps/frontend/src/mocks/studySession.ts
  apps/frontend/src/routes/SignUp.tsx
  apps/frontend/src/routes/UpdatePassword.tsx
  apps/frontend/src/types/index.ts
  apps/frontend/src/types/requests.ts
  apps/frontend/src/types/studySession.ts
  apps/frontend/src/utilities/requests/index.ts
  apps/frontend/src/utilities/requests/requests.ts
Owners: @studly/frontend

add tests
  apps/frontend/src/mocks/index.ts
  apps/frontend/src/mocks/requests.ts
  apps/frontend/src/utilities/requests/requests.spec.ts
Owners: @studly/frontend

Remove superbase authentication
  apps/frontend/src/components/ForgotPassword/ForgotPassword.tsx
  apps/frontend/src/components/LoginForm/LoginForm.spec.tsx
  apps/frontend/src/components/LoginForm/LoginForm.tsx
  apps/frontend/src/components/Navbar/Navbar.tsx
  apps/frontend/src/components/SignUp/SignUp.spec.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/components/UpdatePassword/UpdatePassword.tsx
  apps/frontend/src/utilities/authentication/SupabaseClient.ts
  apps/frontend/src/utilities/authentication/auth.spec.tsx
  apps/frontend/src/utilities/authentication/auth.ts
  apps/frontend/src/utilities/authentication/index.ts
Owners: @studly/frontend

resolve linter issues
  apps/frontend/src/components/LoginForm/LoginForm.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/components/UserProfile/UserProfile.tsx
  apps/frontend/src/components/index.ts
Owners: @studly/frontend

Create badges.routes.js
  apps/backend/src/routes/v1/badges.routes.js
Owners: @studly/backend

Create badges.controller.js
  apps/backend/src/controllers/badges.controller.js
Owners: @studly/backend

Create badge.validation.middleware.js
  apps/backend/src/middleware/badge.validation.middleware.js
Owners: @studly/backend

Create badges.model.js
  apps/backend/src/models/badges.model.js
Owners: @studly/backend

Create badges.repository.js
  apps/backend/src/repositories/badges.repository.js
Owners: @studly/backend

CODEOWNERS:

# Map folders to reviewer groups/owners
# Replace @studly/* with real GitHub handles or teams
/apps/frontend/   @studly/frontend
/apps/backend/    @studly/backend
/packages/        @studly/core
/docs/            @studly/docs
