Repository HaMeD1379/Studly, changes with the owners that CODEOWNERS names for each.
All owners: @studly/frontend, @studly/backend, @studly/core, @studly/docs

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

tests(profiling): add sessions/profile test coverage and built-in V8 profiling tools
  .gitignore
  apps/backend/jest.config.js
  apps/backend/package.json
  apps/backend/scripts/profile-all.js
  apps/backend/scripts/summarize-timings.js
  apps/backend/src/index.js
  apps/backend/src/middleware/profiling.middleware.js
  apps/backend/tests/InitialBasicTest.js
  apps/backend/tests/TESTINGPLAN.md
  apps/backend/tests/integration/.gitkeep
  apps/backend/tests/integration/auth.controller.test.js
  apps/backend/tests/setup.js
  apps/backend/tests/support/profiler.hook.js
  apps/backend/tests/support/run-jest-lite.js
  apps/backend/tests/unit/.gitkeep
  apps/backend/tests/unit/supabase.client.test.js
Owners: @studly/backend

chore(scripts): improve variable names for clarity in profile-all and summarize-timings
  apps/backend/scripts/profile-all.js
  apps/backend/scripts/summarize-timings.js
Owners: @studly/backend

tests(profiling): add sessions/profile test coverage and built-in V8 profiling tools (#148)
  .gitignore
  apps/backend/jest.config.js
  apps/backend/package.json
  apps/backend/scripts/profile-all.js
  apps/backend/scripts/summarize-timings.js
  apps/backend/src/index.js
  apps/backend/src/middleware/profiling.middleware.js
  apps/backend/tests/InitialBasicTest.js
  apps/backend/tests/TESTINGPLAN.md
  apps/backend/tests/integration/.gitkeep
  apps/backend/tests/integration/auth.controller.test.js
  apps/backend/tests/setup.js
  apps/backend/tests/support/profiler.hook.js
  apps/backend/tests/support/run-jest-lite.js
  apps/backend/tests/unit/.gitkeep
  apps/backend/tests/unit/supabase.client.test.js
Owners: @studly/backend

fix(profiler): use actual db with credentials from .env
  apps/backend/scripts/profile-all.js
  apps/backend/scripts/summarize-timings.js
Owners: @studly/backend

perf: update profiler to use real db
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/scripts/profile-all.js
  apps/backend/scripts/summarize-timings.js
  apps/backend/src/middleware/profiling.middleware.js
Owners: @studly/backend

Fix(profiler): Align script with session API contract
  apps/backend/scripts/profile-all.js
Owners: @studly/backend

chore(profiler): add profiler_results.png and update sprint2 worksheet
  worksheets/sprint2/profiler_results.png
  worksheets/sprint2/worksheet.md
Owners: none

Update worksheet.md
  worksheets/sprint2/worksheet.md
Owners: none

Update worksheet.md
  worksheets/sprint2/worksheet.md
Owners: none

Update worksheet.md
  worksheets/sprint2/worksheet.md
Owners: none

Ben Edgar-Prosen - show off + minor grammar edits
  worksheets/sprint2/showoff/ben_showoff_requests.png
  worksheets/sprint2/showoff/ben_showoff_session.png
  worksheets/sprint2/worksheet.md
Owners: none

fix links
  worksheets/sprint2/worksheet.md
Owners: none

also fix bold text
  worksheets/sprint2/worksheet.md
Owners: none

consistency and more grammar changes
  worksheets/sprint2/worksheet.md
Owners: none

forgot a s for plural adds
  worksheets/sprint2/worksheet.md
Owners: none

fix(profiler): use real database for performance analysis (#149)
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/scripts/profile-all.js
  apps/backend/scripts/summarize-timings.js
  apps/backend/src/middleware/profiling.middleware.js
  apps/backend/tests/integration/sessions.test.js
Owners: @studly/backend

Update worksheet.md
  worksheets/sprint2/worksheet.md
Owners: none

Update README.md
  README.md
Owners: none

Shiv's Update on Showoff
  worksheets/sprint2/worksheet.md
Owners: none

sprint2: Show Off (Hamed) — containerization + Docker Hub CD; self-contained backend (in-memory mock DB); compose-based local run. Add screenshots and update worksheet.
  worksheets/sprint2/showoff/hamed_showoff_ducker.mem.png
  worksheets/sprint2/showoff/hamed_showoff_ducker.png
  worksheets/sprint2/worksheet.md
Owners: none

Update worksheet.md
  worksheets/sprint2/worksheet.md
Owners: none

Update README.md
  README.md
Owners: none

Update worksheet.md
  worksheets/sprint2/worksheet.md
Owners: none

Update worksheet.md
  worksheets/sprint2/worksheet.md
Owners: none

Update worksheet.md
  worksheets/sprint2/worksheet.md
Owners: none

Update worksheet.md
  worksheets/sprint2/worksheet.md
Owners: none

Update worksheet.md
  worksheets/sprint2/worksheet.md
Owners: none

allow the user to update their name and bio through connection to the api
  apps/frontend/src/App.tsx
  apps/frontend/src/api/index.ts
  apps/frontend/src/api/profile_changes.ts
  apps/frontend/src/components/AccountActions/AccountActions.tsx
  apps/frontend/src/components/Login/Login.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.spec.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/components/UserCard/UserCard.spec.tsx
  apps/frontend/src/components/UserCard/UserCard.tsx
  apps/frontend/src/constants/api.ts
  apps/frontend/src/routes/login/action.ts
  apps/frontend/src/routes/settings/action.ts
  apps/frontend/src/routes/settings/index.ts
  apps/frontend/src/types/requests.ts
Owners: @studly/frontend

apply biome and linter fixes
  apps/frontend/src/App.tsx
  apps/frontend/src/api/index.ts
  apps/frontend/src/api/profile_changes.ts
  apps/frontend/src/components/AccountActions/AccountActions.tsx
  apps/frontend/src/components/Login/Login.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.spec.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/components/UserCard/UserCard.spec.tsx
  apps/frontend/src/components/UserCard/UserCard.tsx
  apps/frontend/src/constants/api.ts
  apps/frontend/src/routes/login/action.ts
  apps/frontend/src/routes/settings/action.ts
  apps/frontend/src/routes/settings/index.ts
  apps/frontend/src/types/requests.ts
Owners: @studly/frontend

resolve merge conflicts
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.tsx
Owners: @studly/frontend

apply linter fixes
  apps/frontend/src/components/AccountActions/AccountActions.spec.tsx
  apps/frontend/src/components/AccountActions/AccountActions.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.spec.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.tsx
Owners: @studly/frontend

UPDATE: GET added for getting the bio for user
  apps/backend/src/config/strings.config.js
  apps/backend/src/controllers/profile.controller.js
  apps/backend/src/routes/v1/profile.routes.js
  apps/backend/tests/integration/profile.test.js
Owners: @studly/backend

UPDATE: if no bio found, it will send
  apps/backend/src/controllers/profile.controller.js
  apps/backend/tests/integration/profile.test.js
Owners: @studly/backend

UPDATE: GET added for getting the bio for user (#153)
  apps/backend/src/config/strings.config.js
  apps/backend/src/controllers/profile.controller.js
  apps/backend/src/routes/v1/profile.routes.js
  apps/backend/tests/integration/profile.test.js
Owners: @studly/backend

update auth pages UI and adds bio fetching from the database through API endpoints
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/api/profile_changes.ts
  apps/frontend/src/components/Login/Login.spec.tsx
  apps/frontend/src/components/Login/Login.tsx
  apps/frontend/src/components/ProfileCards/ProfileCard.spec.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.spec.tsx
  apps/frontend/src/components/ProfileInformationCard/ProfileInformationCard.tsx
  apps/frontend/src/components/ProfileStatistics/ProfileStatistics.spec.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/components/UserCard/UserCard.spec.tsx
  apps/frontend/src/components/UserCard/UserCard.tsx
  apps/frontend/src/constants/api.ts
  apps/frontend/src/routes/index.ts
  apps/frontend/src/routes/login/Login.tsx
  apps/frontend/src/routes/logout/action.ts
  apps/frontend/src/routes/userprofile/UserProfile.spec.tsx
  apps/frontend/src/routes/userprofile/UserProfile.tsx
  apps/frontend/src/routes/userprofile/index.ts
  apps/frontend/src/routes/userprofile/loader.spec.tsx
  apps/frontend/src/routes/userprofile/loader.ts
  apps/frontend/src/store/useBioStore.spec.tsx
  apps/frontend/src/store/useBioStore.ts
  apps/frontend/src/types/index.ts
  apps/frontend/src/types/profileBio.ts
Owners: @studly/frontend

User card test file
  apps/frontend/src/components/UserCard/UserCard.spec.tsx
Owners: @studly/frontend

change User card test
  apps/frontend/src/components/UserCard/UserCard.spec.tsx
Owners: @studly/frontend

CODEOWNERS:

# Map folders to reviewer groups/owners
# Replace @studly/* with real GitHub handles or teams
/apps/frontend/   @studly/frontend
/apps/backend/    @studly/backend
/packages/        @studly/core
/docs/            @studly/docs
