Repository HaMeD1379/Studly, changes with the owners that CODEOWNERS names for each.
All owners: @studly/frontend, @studly/backend, @studly/core, @studly/docs

try ci again
  .github/workflows/ci.yml
Owners: none

use cypress build in action
  .github/workflows/ci.yml
Owners: none

try again
  .github/workflows/ci.yml
Owners: none

change port
  .github/workflows/ci.yml
Owners: none

--
  .github/workflows/ci.yml
Owners: none

try start
  .github/workflows/ci.yml
Owners: none

ci
  .github/workflows/ci.yml
Owners: none

add --host
  .github/workflows/ci.yml
Owners: none

revert
  .github/workflows/ci.yml
Owners: none

no build
  .github/workflows/ci.yml
Owners: none

try
  .github/workflows/ci.yml
Owners: none

remove working directory
  .github/workflows/ci.yml
Owners: none

working dir
  .github/workflows/ci.yml
Owners: none

npm start
  .github/workflows/ci.yml
Owners: none

try browser again
  .github/workflows/ci.yml
Owners: none

headless
  .github/workflows/ci.yml
Owners: none

FIX: friends api bug showing 2 way friend requests
  apps/backend/src/controllers/friends.controller.js
  apps/backend/tests/integration/friends.test.js
Owners: @studly/backend

add 0.0.0.0 host
  .github/workflows/ci.yml
Owners: none

change start
  .github/workflows/ci.yml
Owners: none

docs: add CLI vs Web framework comparison to cli-frontend README
  apps/cli-frontend/README.md
Owners: none

try without tests
  .github/workflows/ci.yml
Owners: none

fix
  .github/workflows/ci.yml
Owners: none

seperate action
  .github/workflows/ci.yml
Owners: none

remove working directory
  .github/workflows/ci.yml
Owners: none

move working-directory
  .github/workflows/ci.yml
Owners: none

change command just to test out
  .github/workflows/ci.yml
Owners: none

remove action step to try out
  .github/workflows/ci.yml
Owners: none

try old
  .github/workflows/ci.yml
Owners: none

revert fully
  .github/workflows/ci.yml
Owners: none

revert
  .github/workflows/ci.yml
Owners: none

add wait
  apps/frontend/cypress/support/commands.ts
Owners: @studly/frontend

fix pass
  .github/workflows/ci.yml
  apps/frontend/cypress/support/commands.ts
Owners: @studly/frontend

change reference
  .github/workflows/ci.yml
Owners: none

add a wait
  apps/frontend/cypress/support/commands.ts
Owners: @studly/frontend

add screenshot for login
  apps/frontend/cypress/support/commands.ts
Owners: @studly/frontend

upload screenshots for visibility debug
  .github/workflows/ci.yml
Owners: none

add if always
  .github/workflows/ci.yml
Owners: none

add railway env vars
  .github/workflows/ci.yml
Owners: none

fix
  .github/workflows/ci.yml
Owners: none

work
  apps/frontend/cypress/e2e/studySession.cy.ts
Owners: @studly/frontend

CODEOWNERS:

# Map folders to reviewer groups/owners
# Replace @studly/* with real GitHub handles or teams
/apps/frontend/   @studly/frontend
/apps/backend/    @studly/backend
/packages/        @studly/core
/docs/            @studly/docs
