Repository HaMeD1379/Studly, changes with the owners that CODEOWNERS names for each.
All owners: @studly/frontend, @studly/backend, @studly/core, @studly/docs

CODEOWNERS:

# Map folders to reviewer groups/owners
# Replace @studly/* with real GitHub handles or teams
/apps/frontend/   @studly/frontend
/apps/backend/    @studly/backend
/packages/        @studly/core
/docs/            @studly/docs

Create badges.service.js
  apps/backend/src/services/badges.service.js
Owners: @studly/backend

Update index.js
  apps/backend/src/index.js
Owners: @studly/backend

Creates the Avatar Component: (#114)
  apps/frontend/src/components/Avatar/Avatar.tsx
  apps/frontend/src/components/Avatar/index.ts
  apps/frontend/src/components/ForgotPassword/ForgotPassword.tsx
  apps/frontend/src/components/LoginForm/LoginForm.spec.tsx
  apps/frontend/src/components/LoginForm/LoginForm.tsx
  apps/frontend/src/components/Navbar/Navbar.tsx
  apps/frontend/src/components/SignUp/SignUp.spec.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/components/UpdatePassword/UpdatePassword.tsx
  apps/frontend/src/components/UserProfile/UserProfile.tsx
  apps/frontend/src/components/index.ts
  apps/frontend/src/utilities/authentication/SupabaseClient.ts
  apps/frontend/src/utilities/authentication/auth.spec.tsx
  apps/frontend/src/utilities/authentication/auth.ts
  apps/frontend/src/utilities/authentication/index.ts
  apps/frontend/src/utilities/avatar/index.ts
Owners: @studly/frontend

fix biome and add rules
  apps/frontend/biome.json
  apps/frontend/src/utilities/requests/requests.ts
Owners: @studly/frontend

fix
  apps/frontend/biome.json
  apps/frontend/src/utilities/requests/requests.ts
Owners: @studly/frontend

add e2e paths to biome
  apps/frontend/cypress/e2e/study/setupStudySession.cy.tsx
  apps/frontend/package.json
Owners: @studly/frontend

added testing for badge api, and tested the api routes are working
  apps/backend/.env.example
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/config/strings.js
  apps/backend/src/index.js
  apps/backend/src/models/badges.model.js
  apps/backend/src/repositories/badges.repository.js
  apps/backend/src/routes/v1/badges.routes.js
  apps/backend/src/services/badges.service.js
  apps/backend/src/utils/serverUtils.js
  apps/backend/tests/unit/badges.controller.test.js
  apps/backend/tests/unit/badges.repository.test.js
  apps/backend/tests/unit/badges.service.test.js
Owners: @studly/backend

Update badges.controller.test.js
  apps/backend/tests/unit/badges.controller.test.js
Owners: @studly/backend

Update badges.service.test.js
  apps/backend/tests/unit/badges.service.test.js
Owners: @studly/backend

Update badges.controller.test.js
  apps/backend/tests/unit/badges.controller.test.js
Owners: @studly/backend

Update badges.service.test.js
  apps/backend/tests/unit/badges.service.test.js
Owners: @studly/backend

Update badges.repository.test.js
  apps/backend/tests/unit/badges.repository.test.js
Owners: @studly/backend

Badges api remake (#117)
  apps/backend/.env.example
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/config/strings.js
  apps/backend/src/controllers/badges.controller.js
  apps/backend/src/index.js
  apps/backend/src/middleware/badge.validation.middleware.js
  apps/backend/src/models/badges.model.js
  apps/backend/src/repositories/badges.repository.js
  apps/backend/src/routes/v1/badges.routes.js
  apps/backend/src/services/badges.service.js
  apps/backend/src/utils/serverUtils.js
  apps/backend/tests/unit/badges.controller.test.js
  apps/backend/tests/unit/badges.repository.test.js
  apps/backend/tests/unit/badges.service.test.js
Owners: @studly/backend

chore(lint): standardize ESLint + Biome configs; add Windows lint script
  apps/backend/.eslintrc.cjs
  apps/backend/biome.json
  apps/frontend/.eslintrc.cjs
  apps/frontend/package.json
Owners: @studly/backend, @studly/frontend

Update sessions.controller.js
  apps/backend/src/controllers/sessions.controller.js
Owners: @studly/backend

Update sessions.controller.test.js
  apps/backend/tests/unit/sessions.controller.test.js
Owners: @studly/backend

Adding badge logic to sessions (#119)
  apps/backend/src/controllers/sessions.controller.js
  apps/backend/tests/unit/sessions.controller.test.js
Owners: @studly/backend

prog
  apps/frontend/src/components/Avatar/Avatar.tsx
  apps/frontend/src/components/Avatar/index.ts
  apps/frontend/src/components/BadgeCollection/index.ts
  apps/frontend/src/components/BadgeStatistics/index.ts
  apps/frontend/src/components/ForgotPassword/index.ts
  apps/frontend/src/components/Navbar/index.ts
  apps/frontend/src/components/RecentStudySessions/index.ts
  apps/frontend/src/components/SetupStudySession/index.ts
  apps/frontend/src/components/SignUp/index.ts
  apps/frontend/src/components/StudySession/index.ts
  apps/frontend/src/components/StudyTips/index.ts
  apps/frontend/src/components/TodaysStudyStatistics/index.ts
  apps/frontend/src/components/UpdatePassword/index.ts
  apps/frontend/src/components/UserProfile/UserProfile.tsx
  apps/frontend/src/components/UserProfile/index.ts
  apps/frontend/src/components/index.ts
Owners: @studly/frontend

Create badges.test.js
  apps/backend/tests/integration/badges.test.js
Owners: @studly/backend

change quote style for jsx
  apps/frontend/biome.json
  apps/frontend/src/App.tsx
  apps/frontend/src/components/BadgeCollection/BadgeCollection.tsx
  apps/frontend/src/components/BadgeStatistics/BadgeStatistics.tsx
  apps/frontend/src/components/ForgotPassword/ForgotPassword.tsx
  apps/frontend/src/components/LoginForm/LoginForm.tsx
  apps/frontend/src/components/Navbar/Navbar.tsx
  apps/frontend/src/components/RecentStudySessions/RecentStudySessions.tsx
  apps/frontend/src/components/SetupStudySession/SetupStudySession.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/components/StudySession/StudySession.tsx
  apps/frontend/src/components/StudyTips/StudyTips.tsx
  apps/frontend/src/components/TodaysStudyStatistics/TodaysStudyStatistics.tsx
  apps/frontend/src/components/UpdatePassword/UpdatePassword.tsx
  apps/frontend/src/components/UserProfile/UserProfile.tsx
  apps/frontend/src/routes/Badges.tsx
  apps/frontend/src/routes/Study.tsx
  apps/frontend/src/utilities/testing/render.tsx
Owners: @studly/frontend

change workflow
  .github/workflows/ci.yml
Owners: none

prog
  apps/frontend/.env.example
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/api/auth.ts
  apps/frontend/src/api/sessions.ts
  apps/frontend/src/components/ErrorBoundary/ErrorBoundary.spec.tsx
  apps/frontend/src/components/ErrorBoundary/ErrorBoundary.tsx
  apps/frontend/src/components/PageSpinner/PageSpinner.spec.tsx
  apps/frontend/src/components/PageSpinner/PageSpinner.tsx
  apps/frontend/src/components/TodaysStudyStatistics/TodaysStudyStatistics.tsx
  apps/frontend/src/components/index.ts
  apps/frontend/src/config/api.ts
  apps/frontend/src/config/index.ts
  apps/frontend/src/constants/api.ts
  apps/frontend/src/constants/index.ts
  apps/frontend/src/constants/strings.ts
  apps/frontend/src/constants/study.ts
  apps/frontend/src/constants/time.ts
  apps/frontend/src/routes/Study.tsx
  apps/frontend/src/routes/index.ts
  apps/frontend/src/routes/study/Study.tsx
  apps/frontend/src/routes/study/action.ts
  apps/frontend/src/routes/study/index.ts
  apps/frontend/src/routes/study/loader.ts
  apps/frontend/src/types/index.ts
  apps/frontend/src/types/loaders.ts
  apps/frontend/src/types/requests.ts
  apps/frontend/src/types/studySession.ts
  apps/frontend/src/utilities/requests/requests.ts
Owners: @studly/frontend

UPDATE signup authentication updated with sessions data
  apps/backend/src/controllers/auth.controller.js
  apps/backend/tests/integration/authController.test.js
Owners: @studly/backend

Remove console.log from the server utils
  apps/backend/src/utils/serverUtils.js
Owners: @studly/backend

Fix Testing on server utils
  apps/backend/tests/unit/serverUtils.test.js
Owners: @studly/backend

UPDATE signup authentication updated with sessions data (#124)
  apps/backend/src/controllers/auth.controller.js
  apps/backend/src/utils/serverUtils.js
  apps/backend/tests/integration/authController.test.js
  apps/backend/tests/unit/serverUtils.test.js
Owners: @studly/backend

docs
  README.md
  docs/ADR/0002-frontend-naming-standard.md
  docs/ADR/0003-frontend-testing-structure.md
  docs/ADR/0004-biome-rules-for-the-frontend.md
  docs/running-biome-on-the-frontend.md
  docs/running-the-frontend.md
Owners: @studly/docs

add spaces
  README.md
Owners: none

Update docs and README.md (#125)
  README.md
  docs/ADR/0002-frontend-naming-standard.md
  docs/ADR/0003-frontend-testing-structure.md
  docs/ADR/0004-biome-rules-for-the-frontend.md
  docs/running-biome-on-the-frontend.md
  docs/running-the-frontend.md
Owners: @studly/docs

Align sessions API with frontend contract
  apps/backend/src/controllers/sessions.controller.js
  apps/backend/src/services/sessions.service.js
  apps/backend/tests/integration/sessions.test.js
  apps/backend/tests/unit/sessions.controller.test.js
  apps/backend/tests/unit/sessions.service.test.js
Owners: @studly/backend

Fix sessions service lint warnings
  apps/backend/src/services/sessions.service.js
  apps/backend/tests/unit/sessions.service.test.js
Owners: @studly/backend

docs: add sessions API contract documentation
  packages/api-contract/sessions-api-contract.md
Owners: @studly/core

Align sessions API with study session schema
  apps/backend/src/controllers/sessions.controller.js
  apps/backend/src/services/sessions.service.js
  apps/backend/tests/integration/sessions.test.js
  apps/backend/tests/unit/sessions.controller.test.js
  apps/backend/tests/unit/sessions.service.test.js
  packages/api-contract/sessions-api-contract.md
Owners: @studly/backend, @studly/core

Remove unused badges service dependency from sessions controller
  apps/backend/src/controllers/sessions.controller.js
Owners: @studly/backend

Align sessions API with study session schema (#128)
  apps/backend/src/controllers/sessions.controller.js
  apps/backend/src/services/sessions.service.js
  apps/backend/tests/integration/sessions.test.js
  apps/backend/tests/unit/sessions.controller.test.js
  apps/backend/tests/unit/sessions.service.test.js
  packages/api-contract/sessions-api-contract.md
Owners: @studly/backend, @studly/core

Refactor authentication to hit API endpoints - Login functionality uses the login api endpoint - Logout functionality uses the logout api endpoint - Signup functionality uses the signup api endpoint
  apps/frontend/cypress/e2e/navbar.cy.tsx
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/actions/index.ts
  apps/frontend/src/actions/login.tsx
  apps/frontend/src/actions/logout.tsx
  apps/frontend/src/actions/signup.tsx
  apps/frontend/src/api/auth.ts
  apps/frontend/src/components/Login/Login.spec.tsx
  apps/frontend/src/components/Login/Login.tsx
  apps/frontend/src/components/LoginForm/LoginForm.spec.tsx
  apps/frontend/src/components/LoginForm/index.ts
  apps/frontend/src/components/Navbar/Navbar.spec.tsx
  apps/frontend/src/components/Navbar/Navbar.tsx
  apps/frontend/src/components/SignUp/SignUp.spec.tsx
  apps/frontend/src/components/SignUp/SignUp.tsx
  apps/frontend/src/components/index.ts
  apps/frontend/src/config/api.ts
  apps/frontend/src/routes/SignUp.tsx
  apps/frontend/src/types/requests.ts
  apps/frontend/src/utilities/requests/requests.ts
  apps/frontend/src/utilities/validation/passwordValidation.spec.tsx
Owners: @studly/frontend

refactor to fix linter errors
  apps/frontend/src/App.tsx
  apps/frontend/src/actions/login.tsx
  apps/frontend/src/actions/logout.tsx
  apps/frontend/src/actions/signup.tsx
Owners: @studly/frontend

refactor to fix linter errors
  apps/frontend/src/App.tsx
  apps/frontend/src/actions/login.tsx
  apps/frontend/src/actions/logout.tsx
  apps/frontend/src/actions/signup.tsx
  apps/frontend/src/api/auth.ts
  apps/frontend/src/components/Navbar/Navbar.spec.tsx
  apps/frontend/src/utilities/validation/passwordValidation.spec.tsx
Owners: @studly/frontend

refactor to fix linter errors
  apps/frontend/src/App.tsx
  apps/frontend/src/api/auth.ts
  apps/frontend/src/components/Login/Login.spec.tsx
  apps/frontend/src/components/Login/Login.tsx
  apps/frontend/src/components/Navbar/Navbar.tsx
  apps/frontend/src/utilities/requests/requests.ts
  apps/frontend/src/utilities/validation/passwordValidation.spec.tsx
Owners: @studly/frontend

refactor to fix linter errors
  apps/frontend/src/utilities/requests/requests.ts
Owners: @studly/frontend
